SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

/*
SELECT * FROM vw_HanTt WHERE Stt_HD = 'A01010000118715'
SELECT * FROM fn_HanTt('20120406', '331', '', '', 'A01') 
SELECT * FROM fn_HanTt('19000101', '20120406', '33121', 'YVONNE', '', 'A01')
DROP FUNCTION fn_HanTt
*/
ALTER VIEW [dbo].[vw_HanTt]
WITH ENCRYPTION
AS

	WITH TK_HANTT_LIST AS
	(
		SELECT String
			FROM R00Parameter T1 CROSS APPLY dbo.fn_Split(T1.Parameter_Value) T2
			WHERE T1.Parameter_ID = 'TK_HANTT_LIST'
	)
	SELECT T1.Stt AS Stt_HD, MAX(T1.Ma_Ct) AS Ma_Ct_HD, MAX(T1.Ngay_Ct) AS Ngay_Ct_HD, MAX(T1.So_Ct) AS So_Ct_HD, MAX(T1.Ma_Tte) AS Ma_Tte_HD, MAX(T1.Ty_Gia) AS Ty_Gia_HD, MAX(T1.Dien_Giai) AS Dien_Giai_HD, 
			T1.Tk, T1.Ma_Dt, MAX(T1.Ma_Hd) AS Ma_HD, 
			SUM(T1.Tien_No0) AS Tien_No0, 
			SUM(T1.Tien_No_Nt0) AS Tien_No_Nt0, 
			SUM(T1.Tien_Tt0) AS Tien_Tt0, 
			SUM(T1.Tien_Tt_Nt0) AS Tien_Tt_Nt0, 
			SUM(T1.Tien_No) AS Tien_No, 
			SUM(T1.Tien_No_Nt) AS Tien_No_Nt, 
			MAX(T1.Han_Tt) AS Han_Tt, MAX(T1.Ngay_Ct0) AS Ngay_Ct0, MAX(T1.So_Ct0) AS So_Ct0, MAX(T1.So_Seri0) AS So_Seri0, T1.Is_SoDuDau, T1.Nam, T1.Ma_Dvcs
		FROM
		(
		SELECT  T1.Stt, T1.Ma_Ct, T1.Ngay_Ct, T1.So_Ct, T1.Ma_Tte, T1.Ty_Gia, T1.Dien_Giai, 
				T1.Tk_No AS Tk, T1.Ma_Dt_No AS Ma_Dt, T1.Ma_HD_No AS Ma_Hd, 
				CASE WHEN LEFT(T1.Tk_No, 1) IN ('1','2','6','8') THEN T1.Tien ELSE - T1.Tien END AS Tien_No0, 
				CASE WHEN LEFT(T1.Tk_No, 1) IN ('1','2','6','8') THEN T1.Tien_Nt ELSE -T1.Tien_Nt END AS Tien_No_Nt0, 
				CAST(0 AS MONEY) AS Tien_Tt0,  --Tiền đã thanh toán
				CAST(0 AS MONEY) AS Tien_Tt_Nt0, 
				CASE WHEN LEFT(T1.Tk_No, 1) IN ('1','2','6','8') THEN T1.Tien ELSE - T1.Tien END AS Tien_No, 
				CASE WHEN LEFT(T1.Tk_No, 1) IN ('1','2','6','8') THEN T1.Tien_Nt ELSE -Tien_Nt END AS Tien_No_Nt, 
				T1.Han_Tt, T1.Ngay_Ct0, T1.So_Ct0, T1.So_Seri0, CAST(0 AS BIT) AS Is_SoDuDau, YEAR(T1.Ngay_Ct) AS Nam, T1.Ma_DvCs
			FROM dbo.vw_SoCai0 T1 JOIN TK_HANTT_LIST ON T1.Tk_No LIKE TK_HANTT_LIST.String + '%'
			WHERE (T1.Han_Tt <> 0)

			UNION ALL
			SELECT  T2.Stt, T2.Ma_Ct, T2.Ngay_Ct, T2.So_Ct, T2.Ma_Tte, T2.Ty_Gia, T2.Dien_Giai, 
					T2.Tk_Co AS Tk, T2.Ma_Dt_Co AS Ma_Dt, T2.Ma_Hd_Co AS Ma_Hd, 
					CASE WHEN LEFT(T2.Tk_Co, 1) IN ('3','4','5','7') THEN T2.Tien ELSE - T2.Tien END AS Tien_No0, 
					CASE WHEN LEFT(T2.Tk_Co, 1) IN ('3','4','5','7') THEN T2.Tien_Nt ELSE -T2.Tien_Nt END AS Tien_No_Nt0, 
					CAST(0 AS MONEY) AS Tien_Tt0,  --Tiền đã thanh toán
					CAST(0 AS MONEY) AS Tien_Tt_Nt0, 
					CASE WHEN LEFT(T2.Tk_Co, 1) IN ('3','4','5','7') THEN T2.Tien ELSE - T2.Tien END AS Tien_No, 
					CASE WHEN LEFT(T2.Tk_Co, 1) IN ('3','4','5','7') THEN T2.Tien_Nt ELSE -T2.Tien_Nt END AS Tien_No_Nt, 
					T2.Han_Tt, T2.Ngay_Ct0, T2.So_Ct0, T2.So_Seri0, CAST(0 AS BIT) AS Is_SoDuDau, YEAR(T2.Ngay_Ct) AS Nam, T2.Ma_DvCs
				FROM dbo.vw_SoCai0 T2 JOIN TK_HANTT_LIST ON T2.Tk_Co LIKE TK_HANTT_LIST.String + '%'
				WHERE (T2.Han_Tt <> 0)

			UNION ALL --Hóa đơn số dư thì lấy số còn dư (Tien_No0 - Tien_Tt0)
			SELECT  T3.Stt, T3.Ma_Ct, T3.Ngay_Ct, T3.So_Ct, T3.Ma_Tte, T3.Ty_Gia, T3.Dien_Giai, 
					T3.Tk, T3.Ma_Dt, T3.Ma_Hd, 
					ROUND(T3.Tien_No0, 0) AS Tien_No0, --Tiền hóa đơn
					ROUND(T3.Tien_No_Nt0, 2) AS Tien_No_Nt0, 
					ROUND(T3.Tien_Tt0, 0) AS Tien_Tt0, --Tiền đã thanh toán 
					ROUND(T3.Tien_Tt_Nt0, 2) AS Tien_Tt_Nt0, 
					ROUND(T3.Tien_No, 0) AS Tien_No, --Tiền còn nợ lần này
					ROUND(T3.Tien_No_Nt, 2) AS Tien_No_Nt, 
					T3.Han_Tt, T3.Ngay_Ct AS Ngay_Ct0, T3.So_Ct AS So_Ct0, '' AS So_Seri0, CAST(1 AS BIT) AS Is_SoDuDau, T3.Nam, T3.Ma_DvCs
				FROM dbo.R80SDHANTT T3 WITH (NOLOCK) JOIN TK_HANTT_LIST ON T3.Tk LIKE TK_HANTT_LIST.String + '%'
				WHERE (T3.Han_Tt <> 0)
		) T1 
		GROUP BY T1.Stt, T1.Tk, T1.Ma_Dt, T1.Is_SoDuDau, T1.Nam, T1.Ma_DvCs
