USE [R50THEPMN3]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Import_ChamCong]    Script Date: 14/11/2018 7:50:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Thủ tục Import Chấm công từ Máy chấm công qua R10ChamCong
DROP PROCEDURE Sp_Import_ChamCong
EXEC sp_CreateTVPStructure 'R05KIEMKE', 'TVP_KiemKePT', 1
SELECT * FROM R05KIEMKE

DECLARE @TVP_Import AS TVP_KiemKePT
INSERT INTO @TVP_Import SELECT * FROM CHAMCONG
EXEC Sp_Import_KiemKeBPT 'A01' @TVP_Import
EXEC Sp_Import_KiemKeBPT @strNew_Edit = 'E', @Ma_DvCs = 'A01'
*/
IF OBJECT_ID('Sp_Import_KiemKeBPT') IS NOT NULL DROP PROCEDURE Sp_Update_CtHD
GO 
CREATE PROCEDURE [dbo].[Sp_Import_KiemKeBPT]
(
	@strNew_Edit CHAR(1),
	@TVP_Import TVP_KiemKePT READONLY,
	@Ma_DvCs VARCHAR(5) = 'A01'
)
AS
BEGIN
	DECLARE @_TableName VARCHAR(50) = '', @_TVPName VARCHAR(50) = '',
			@_InsertScript VARCHAR(2000) = '', @_UpdateCtScript VARCHAR(2000) = '',
			@_ColumnName VARCHAR(50) = '',
			@_SQLExec NVARCHAR(MAX) = ''
			

	SELECT @_TVPName = 'TVP_KiemKePT'
	SELECT @_TableName = 'R05KIEMKE'

	SELECT  *
		INTO #T_Import
		FROM @TVP_Import
	
	UPDATE #T_Import SET Ma_DvCs = @Ma_DvCs
	
	BEGIN TRY
		BEGIN TRANSACTION 
			
			SELECT @_ColumnName = MIN(Name) 
				FROM sys.columns T1
				WHERE (T1.OBJECT_ID IN (SELECT Type_Table_object_id FROM sys.table_types where name = @_TVPName)) 
					AND EXISTS(SELECT * FROM sys.columns T2 WHERE T2.Object_ID = Object_ID(@_TableName) AND T2.Is_Identity = 0 AND T2.Name = T1.Name)

			WHILE @_ColumnName IS NOT NULL
			BEGIN
				SELECT @_InsertScript = CASE  
											WHEN @_InsertScript = '' THEN '' 
											ELSE @_InsertScript + ','
										END + @_ColumnName
				
				SELECT @_UpdateCtScript = CASE  
										WHEN @_UpdateCtScript = '' THEN '' 
										ELSE @_UpdateCtScript + ','
									END + @_ColumnName + '=T2.' + @_ColumnName
															
				SELECT @_ColumnName = MIN(Name) 
					FROM sys.columns T1
					WHERE (T1.OBJECT_ID IN (SELECT Type_Table_object_id FROM sys.table_types where name = @_TVPName)) 
						AND EXISTS(SELECT * FROM sys.columns T2 WHERE T2.Object_ID = Object_ID(@_TableName) AND T2.Is_Identity = 0 AND T2.Name = T1.Name) AND T1.name > @_ColumnName

				
			END

			PRINT @_UpdateCtScript

			IF (@strNew_Edit IN ('N')) --Thêm, Copy
			BEGIN
				SELECT @_SQLExec = 
					'INSERT INTO ' + @_TableName + '(' + @_InsertScript + ')
						SELECT ' + @_InsertScript + '
							FROM #T_Import'
			END
			ELSE IF (@strNew_Edit IN ('E')) --Sửa
			BEGIN
				
				SELECT @_SQLExec = 
				'UPDATE T1 SET ' + @_UpdateCtScript + '
					FROM ' + @_TableName + ' T1 JOIN #T_Import T2 ON T1.Ident00 = T2.Ident00'	
				
			END
			
			PRINT @_SQLExec
			EXEC sp_executesql @_SQLExec

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		
		ROLLBACK TRANSACTION

		DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE() + CHAR(13) + @_SQLExec,
				@ErrorSeverity INT = ERROR_SEVERITY(),
				@ErrorState INT = ERROR_STATE()

		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH

END

