USE [R50THEPMN3]
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateTonCuoi_KKho]    Script Date: 07/09/2015 23:55:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*SET DATEFORMAT DMY
Sp_UpdateTonCuoi_KKho '18/03/2015', '86014004'

DROP PROCEDURE Sp_UpdateTonCuoi_KKho
EXEC sp_CreateTVPStructure 'R04CTPO', 'TVP_TON_KHO', 1


*/
CREATE PROCEDURE [dbo].[Sp_UpdateTonCuoi_KKho] 
(
	@Ngay_Ct DATETIME = '',
	@TVP_Import TVP_Mo_Ta_Kt READONLY,
	@Ma_DvCs VARCHAR(5) = 'B02'
)
--WITH ENCRYPTION
AS
BEGIN
	
	SELECT  *
		INTO #T_Ton_Kho
		FROM @TVP_Import 
	
	
	SELECT Ma_Kho, Ma_Vt, Ton_Dau AS Ton_Cuoi, Gia, Gia_Nt, Du_Dau, Du_Dau_Nt 
		INTO #T_TonCuoi
		FROM R80SDV
		WHERE 0 = 1
		
	EXEC sp_TonCuoiList @Ngay_Ct, '0 = 0', '#T_TonCuoi', @Ma_DvCs
	
	SELECT T1.* FROM #T_TonCuoi T1 JOIN #T_Ton_Kho T2 ON T1.Ma_Vt = T2.Ma_Vt

END
