USE [R50THEPMN3]
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_CtX_Barcode_KKV]    Script Date: 16/4/2026 6:12:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
DROP PROCEDURE sp_Update_CtX_Barcode_KKV

--Tạo lại TVP
EXEC sp_CreateTVPStructure 'R80PH_BARCODE_KKV', 'TVP_PH_XBARCODE_KKV', 1
EXEC sp_CreateTVPStructure 'R05CTX_BARCODE_KKV', 'TVP_CT_XBARCODE_KKV', 1

--Test thủ tục cập nhật
DECLARE @PH AS TVP_PH_NBARCODE_KKV, @Ct TVP_Ct_NBARCODE_KKV
INSERT INTO @PH SELECT * FROM PH WHERE Stt = 'A01050000109576'
INSERT INTO @Ct SELECT * FROM CT WHERE Stt = 'A01050000109576'
EXEC sp_Update_CtN_Barcode_KKV 'N', @PH, @Ct, 'A01050000109576', 'PNBKV', 'A01'
*/
IF OBJECT_ID('sp_Update_CtX_Barcode_KKV') IS NOT NULL DROP PROCEDURE sp_Update_CtX_Barcode_KKV
GO 

CREATE PROCEDURE [dbo].[sp_Update_CtX_Barcode_KKV]
(
	@strNew_Edit CHAR(1),
	@PH TVP_PH_XBARCODE_KKV READONLY,
	@CT TVP_CT_XBARCODE_KKV READONLY,
	@Stt VARCHAR(15),
	@Ma_Ct VARCHAR(5),
	@Ma_DvCs VARCHAR(5)
)
--WITH ENCRYPTION
AS
BEGIN

	--Kiểm Tra tồn tại Stt khi thêm mới
	IF (@strNew_Edit IN ('N','C') AND EXISTS(SELECT Stt FROM R80PH_BARCODE_KKV WHERE Stt = @Stt))
	BEGIN
		RAISERROR (N'Thêm mới trùng Stt [%s]', 16, 1, @Stt)
		RETURN
	END


	DECLARE @_TablePHName VARCHAR(50) = '', @_TVPPHName VARCHAR(50) = '',
			@_TableCtName VARCHAR(50) = '', @_TVPCtName VARCHAR(50) = '',
			@_SQLExec NVARCHAR(MAX) = '', @_Params NVARCHAR(2000),
			@_InsertPHScript VARCHAR(2000) = '', @_UpdatePHScript VARCHAR(2000) = '',
			@_InsertCtScript VARCHAR(2000) = '', @_UpdateCtScript VARCHAR(2000) = '',
			@_ColumnName VARCHAR(50) = '', @_Ma_Dt VARCHAR(20) = '', @_Ma_Kho VARCHAR(20) = '',
			@_Create_Log VARCHAR(50) = ''

	SELECT	@_TablePHName = Table_PH,
			@_TableCtName = Table_Ct
		FROM R00DmCt
		WHERE Ma_Ct = @Ma_Ct

	SELECT	@_TVPPHName = 'TVP_PH_XBARCODE_KKV',
			@_TVPCtName = 'TVP_CT_XBARCODE_KKV'

	SELECT * INTO #T_TablePH FROM @PH
	SELECT * INTO #T_TableCt FROM @CT

	UPDATE #T_TablePH SET Stt = @Stt, Ma_Ct = @Ma_Ct, Ma_DvCs = @Ma_DvCs
	UPDATE #T_TableCt SET Stt = @Stt, Ma_Ct = @Ma_Ct, Ma_DvCs = @Ma_DvCs
	
	SET @_Ma_Dt = (SELECT MAX(Ma_Dt) FROM #T_TableCt)
	SET @_Ma_Kho = (SELECT MAX(Ma_Kho) FROM #T_TableCt)
	SET @_Create_Log = (SELECT MAX(Create_Log) FROM #T_TableCt)	
	
	BEGIN TRY
		BEGIN TRANSACTION

	
			
		SELECT @_ColumnName = MIN(Name) 
			FROM sys.columns T1
			WHERE (T1.OBJECT_ID IN (SELECT Type_Table_object_id FROM sys.table_types where name = @_TVPPHName)) 
				AND EXISTS(SELECT * FROM sys.columns T2 WHERE T2.Object_ID = Object_ID(@_TablePHName) AND T2.Is_Identity = 0 AND T2.Name = T1.Name)
		
		WHILE @_ColumnName IS NOT NULL
		BEGIN
		
			SELECT @_InsertPHScript = CASE  
										WHEN @_InsertPHScript = '' THEN '' 
										ELSE @_InsertPHScript + ','
									END + @_ColumnName
										
			SELECT @_UpdatePHScript = CASE  
										WHEN @_UpdatePHScript = '' THEN '' 
										ELSE @_UpdatePHScript + ','
									END + @_ColumnName + '=T2.' + @_ColumnName
			
			SELECT @_ColumnName = MIN(Name) 
				FROM sys.columns T1
				WHERE (T1.OBJECT_ID IN (SELECT Type_Table_object_id FROM sys.table_types where name = @_TVPPHName)) 
					AND EXISTS(SELECT * FROM sys.columns T2 WHERE T2.Object_ID = Object_ID(@_TablePHName) AND T2.Is_Identity = 0 AND T2.Name = T1.Name)
					AND T1.name > @_ColumnName
					print @_InsertPHScript
					print @_UpdatePHScript
			
		END

		PRINT @_InsertPHScript
		PRINT @_UpdatePHScript

		--Ct
		SELECT @_ColumnName = MIN(Name) 
			FROM sys.columns T1
			WHERE (T1.OBJECT_ID IN (SELECT Type_Table_object_id FROM sys.table_types where name = @_TVPCtName)) 
				AND EXISTS(SELECT * FROM sys.columns T2 WHERE T2.Object_ID = Object_ID(@_TableCtName) AND T2.Is_Identity = 0 AND T2.Name = T1.Name)
 
		WHILE @_ColumnName IS NOT NULL
		BEGIN
			SELECT @_InsertCtScript = CASE  
										WHEN @_InsertCtScript = '' THEN '' 
										ELSE @_InsertCtScript + ','
									END + @_ColumnName

			SELECT @_UpdateCtScript = CASE  
										WHEN @_UpdateCtScript = '' THEN '' 
										ELSE @_UpdateCtScript + ','
									END + @_ColumnName + '=T2.' + @_ColumnName
			
			SELECT @_ColumnName = MIN(Name) 
				FROM sys.columns T1
				WHERE (T1.OBJECT_ID IN (SELECT Type_Table_object_id FROM sys.table_types where name = @_TVPCtName)) 
					AND EXISTS(SELECT * FROM sys.columns T2 WHERE T2.Object_ID = Object_ID(@_TableCtName) AND T2.Is_Identity = 0 AND T2.Name = T1.Name) AND name > @_ColumnName
		END

		PRINT @_InsertCtScript
		PRINT @_UpdateCtScript

		IF (@strNew_Edit IN ('N','C')) --Thêm, Copy
		BEGIN
			--PRINT @Stt

			--PH
			SELECT @_SQLExec = 
				'INSERT INTO ' + @_TablePHName + ' (' + @_InsertPHScript + ')
					SELECT ' + @_InsertPHScript + '
						FROM #T_TablePH 
						WHERE Stt = @Stt'
			--SELECT @_SQLExec = 
			--	'UPDATE T1 SET ' + @_UpdatePHScript + '
			--		FROM ' + @_TablePHName + ' T1 JOIN #T_TablePH T2 ON T1.Stt = T2.Stt
			--		WHERE T1.Stt = @Stt'
		
			SELECT @_Params = N'@Stt VARCHAR(15)'

			EXEC sp_executesql @_SQLExec, @_Params, @Stt

			----CT
			SELECT @_SQLExec = 
				'INSERT INTO ' + @_TableCtName + ' (' + @_InsertCtScript + ')
					SELECT ' + @_InsertCtScript + '
						FROM #T_TableCT
						WHERE Stt = @Stt'

			SELECT @_Params = N'@Stt VARCHAR(15)'

			EXEC sp_executesql @_SQLExec, @_Params, @Stt
				
		END
		ELSE IF (@strNew_Edit IN ('E')) --Sửa
		BEGIN
			--PH
			SELECT @_SQLExec = 
				'UPDATE T1 SET ' + @_UpdatePHScript + '
					FROM ' + @_TablePHName + ' T1 JOIN #T_TablePH T2 ON T1.Stt = T2.Stt
					WHERE T1.Stt = @Stt'
		
			SELECT @_Params = N'@Stt VARCHAR(15)'

			EXEC sp_executesql @_SQLExec, @_Params, @Stt

			--Ct
			SELECT @_SQLExec = '
				--Delete những dòng không tồn tại trong bảng mới (Những dòng đã xóa)
				DELETE T1
					FROM ' + @_TableCtName + ' T1
					WHERE NOT EXISTS (SELECT Stt, Stt0 FROM #T_TableCT T2 WHERE T2.Stt = T1.Stt AND T2.Stt0 = T1.Stt0)
						AND T1.Stt = @Stt
		
				--Update những dòng đã tồn tại
				UPDATE T1 SET ' + @_UpdateCtScript + '
					FROM ' + @_TableCtName + ' T1 JOIN #T_TableCT T2 ON T1.Stt = T2.Stt AND T1.Stt0 = T2.Stt0
					WHERE T1.Stt = @Stt

				--Insert những dòng mới thêm vào
				INSERT INTO ' + @_TableCtName + ' (' + @_InsertCtScript + ')
					SELECT 	' + @_InsertCtScript + '
						FROM #T_TableCT T2
						WHERE Stt = @Stt AND NOT EXISTS (SELECT Stt, Stt0 FROM ' + @_TableCtName + ' T1 WHERE T2.Stt = T1.Stt AND T2.Stt0 = T1.Stt0)'

			SELECT @_Params = N'@Stt VARCHAR(15)'

			EXEC sp_executesql @_SQLExec, @_Params, @Stt
		END

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION

		DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE() + CHAR(13) + @_SQLExec,
				@ErrorSeverity INT = ERROR_SEVERITY(),
				@ErrorState INT = ERROR_STATE()

		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);

	END CATCH
	--CẬP NHẬT VÀO TABLE XuatQR của data VINACHG
	IF(@Ma_Ct LIKE 'PX%')
		EXEC UpdateQRCODE @Stt, @_Ma_Kho, @_Ma_Dt, @_Create_Log
	
	--PHÂN BỔ HÀNG GỬI KHO
	declare @_Stt_Org VARCHAR(20) = (SELECT MAX(Stt_Org) FROM #T_TableCt)
	EXEC sp_UpdateSoLXHGK @_Stt_Org, @Stt
	SELECT @Stt

END


