
/****** Object:  UserDefinedFunction [dbo].[fn_CheckBarCodeKKV]    Script Date: 10/14/2016 15:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[fn_CheckBarCodeKKV]
(
	@BarCode VARCHAR(20) = '01160146098',
	@Stt VARCHAR(20) = 'A01040000120212',
	@Ma_Ct VARCHAR(20) = 'PXBKV'
)
RETURNS VARCHAR(20)
AS
BEGIN
	DECLARE @_BarCode VARCHAR(20)
	IF(@Ma_Ct = 'PNBKV')
		SET @_BarCode = (SELECT T3.Barcode
							FROM
							(SELECT Stt FROM R04CTSO WHERE Stt_Org = @Stt GROUP BY Stt) T1 LEFT JOIN
							(SELECT Stt, Stt_Org FROM R80PH_SCALE GROUP BY Stt, Stt_Org) T2 ON T1.Stt = T2.Stt_Org LEFT JOIN
							(SELECT Stt, Barcode FROM R05CTX_BARCODE GROUP BY Stt, Barcode) T3 ON T2.Stt = T3.STT
							WHERE T3.Barcode = @BarCode)
	ELSE
		SET @_BarCode = (SELECT T3.Barcode
							FROM
							(SELECT Ma_Vt, Ma_Kho FROM R04CTSO WHERE Stt = @Stt GROUP BY Ma_Vt, Ma_Kho) T1 
							JOIN
							(SELECT Ma_Vt_Sp, Ma_Kho, Barcode FROM R05CTN_BARCODE_KKV GROUP BY Ma_Vt_Sp, Ma_Kho, Barcode) T3 ON T1.MA_VT = T3.Ma_Vt_Sp AND T1.Ma_Kho = T3.Ma_Kho
							WHERE T3.Barcode = @BarCode)						
	IF @_BarCode IS NULL						
		SET @_BarCode = ''
		
	RETURN @_BarCode						
END

