USE [R50THEPMN3]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSOHuy]    Script Date: 10/17/2016 17:17:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetSOHuy]
(
	@Ma_Ct VARCHAR(5),
	@Ngay_Ct DATETIME,
	@Ma_DvCs VARCHAR(5) = 'A01'
)
AS
BEGIN
	--SELECT * FROM R80PH WHERE Ngay_Ct = @Ngay_Ct AND Duyet_Huy = 0 AND Ma_Ct = @Ma_Ct  AND Ma_DvCs = @Ma_DvCs
	select T1.*, Stt_LXH, Ma_Ct_LXH, So_Ct_LXH, Ngay_Ct_LXH FROM 
	(SELECT Stt, Ma_Ct, So_Ct, Ngay_Ct FROM R80PH where Ma_Ct = @Ma_Ct AND Ngay_Ct = @Ngay_Ct AND Duyet_Huy = 0) T1 
	JOIN (SELECT Stt FROM R04CTSO WHERE Ma_Ct = @Ma_Ct) T2 ON T1.Stt= T2.STT 
	JOIN (SELECT Stt AS Stt_LXH, Stt_Org AS Stt_Org_LXH, MA_CT AS MA_CT_LXH, So_Ct AS So_Ct_LXH, Ngay_Ct AS Ngay_Ct_LXH FROM R04CTSO WHERE Ma_CT = 'LXH') T3 ON T2.Stt = T3.Stt_Org_LXH 
	LEFT JOIN (SELECT Stt_Org FROM R80PH_SCALE) T4 ON T3.Stt_LXH = T4.Stt_Org
	WHERE T4.Stt_Org IS NULL
	GROUP BY T1.Stt, Ma_Ct, So_Ct, Ngay_Ct, Stt_LXH, Ma_Ct_LXH, So_Ct_LXH, Ngay_Ct_LXH
END