
/****** Object:  StoredProcedure [dbo].[sp_GetVoucher_BarCodeKV_PH]    Script Date: 10/14/2016 15:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*Thủ tục trả về bảng Filter
SET DATEFORMAT DMY
--EXEC sp_GetPH_Scale_Truck_Out 'PXTH', '20150101','20151231', 1
EXEC sp_GetVoucher_BarCodeKV_PH 'PNBKV', '20161010','20161010'
*/
ALTER PROCEDURE [dbo].[sp_GetVoucher_BarCodeKV_PH]
(
	@Ma_Ct VARCHAR(5) = '',
	@Ngay_Ct1 DATE = '',
	@Ngay_Ct2 DATE = '',
	@So_Xe_Filter VARCHAR(100) = '',
	@Ma_Vt_Sp VARCHAR(20) = ''
)
AS
BEGIN	

	DECLARE @_Key VARCHAR(1000),
			@_SQLExec VARCHAR(MAX)

	SET @_Key = '(0 = 0)'

	SET @_Key = @_Key + ' AND Deleted = 0 AND Ngay_Ct >= ''' + dbo.fn_DTOS(@Ngay_Ct1) + ''' AND Ngay_Ct <= ''' + dbo.fn_DTOS(@Ngay_Ct2) + ''''
	SET @_Key = @_Key + ' AND Ma_Ct = ''' + @Ma_Ct + ''''
	--SET @_Key = @_Key + ' AND Ma_Vt_Sp = ''' + @Ma_Vt_Sp + ''''

	IF (@So_Xe_Filter <> '')
		SET @_Key = @_Key + ' AND (So_Xe LIKE ''%' + @So_Xe_Filter + '%'')'

	CREATE TABLE #T_Header(Stt VARCHAR(15), Ma_Dt VARCHAR(20), Ma_Vt_Sp VARCHAR(20), Ma_Dt_CbNv_Vao VARCHAR(20), Ma_Dt_CbNv_Ra VARCHAR(20))
	
	SET @_SQLExec =
		'SELECT Stt, Ma_Dt, Ma_Vt_Sp, Ma_Dt_CbNv_Vao, Ma_Dt_CbNv_Ra
			FROM R80PH_BARCODE_KKV WITH(NOLOCK)
			WHERE ' + @_Key
	
	INSERT #T_Header(Stt, Ma_Dt, Ma_Vt_Sp, Ma_Dt_CbNv_Vao, Ma_Dt_CbNv_Ra)
	EXEC(@_SQLExec)

	IF COL_LENGTH('TempDB..#T_Header', 'Ten_Dt') IS NULL
		ALTER TABLE #T_Header ADD Ten_Dt NVARCHAR(200) NOT NULL DEFAULT('')

	IF COL_LENGTH('TempDB..#T_Header', 'Ten_Vt') IS NULL
		ALTER TABLE #T_Header ADD Ten_Vt NVARCHAR(200) NOT NULL DEFAULT('')

	IF COL_LENGTH('TempDB..#T_Header', 'Ten_Dt_CbNv_Vao') IS NULL
		ALTER TABLE #T_Header ADD Ten_Dt_CbNv_Vao NVARCHAR(200) NOT NULL DEFAULT('')

	IF COL_LENGTH('TempDB..#T_Header', 'Ten_Dt_CbNv_Ra') IS NULL
		ALTER TABLE #T_Header ADD Ten_Dt_CbNv_Ra NVARCHAR(200) NOT NULL DEFAULT('')

	UPDATE T1 SET Ten_Dt = T2.Ten_Dt
		FROM #T_Header T1 WITH(NOLOCK) JOIN R81DMDT T2 WITH(NOLOCK) ON T1.Ma_Dt = T2.Ma_Dt

	UPDATE T1 SET Ten_Vt = T2.Ten_Vt
		FROM #T_Header T1 WITH(NOLOCK) JOIN R81DMVT T2 WITH(NOLOCK) ON T1.Ma_Vt_Sp = T2.Ma_Vt

	UPDATE T1 SET Ten_Dt_CbNv_Vao = T2.Ten_Dt
		FROM #T_Header T1 WITH(NOLOCK) JOIN R81DMDT T2 WITH(NOLOCK) ON T1.Ma_Dt_CbNv_Vao = T2.Ma_Dt

	UPDATE T1 SET Ten_Dt_CbNv_Ra = T2.Ten_Dt
		FROM #T_Header T1 WITH(NOLOCK) JOIN R81DMDT T2 WITH(NOLOCK) ON T1.Ma_Dt_CbNv_Ra = T2.Ma_Dt

	--PH
	SELECT T1.*, T2.Ten_Dt, T2.Ten_Vt, T2.Ten_Dt_CbNv_Vao, T2.Ten_Dt_CbNv_Ra, 
			So_Xe_So_Ct = T1.So_Xe + ' - ' + T1.So_Ct
		FROM R80PH_BARCODE_KKV T1 WITH(NOLOCK)
				JOIN #T_Header T2 WITH(NOLOCK) ON T1.Stt = T2.Stt
END 
