USE [R50DONGTIEN]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBTSC]    Script Date: 06/21/2016 11:12:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetBTSC]
AS
BEGIN
	SELECT T1.*, ISNULL(T2.Ten_Vt, '') AS Ten_Vt_Tb, ISNULL(T3.Ten_Dt, '') AS Ten_Dt_Cbnv_Bt,
			T1.Duyet AS Hoan_Thanh,
			CASE WHEN Trong_Ke_Hoach = 1 THEN 0 ELSE 1 END AS Ngoai_Ke_Hoach
		FROM R06BTSC T1 LEFT JOIN R81DMVT T2 ON T1.Ma_Vt_Tb = T2.Ma_Vt 
			LEFT JOIN R81DMDT T3 ON T1.Ma_Dt_Cbnv_Bt = T3.Ma_Dt
		WHERE Duyet_YC = 1
			AND TypeOfMaintenance <> N'Bảo trì cơ điện' 
			AND TypeOfMaintenance <> N'Bảo dưỡng' 
			AND TypeOfMaintenance <> N'Kiểm tra, Thay thế' 
END
-------
USE [R50DONGTIEN]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBTSC_CD]    Script Date: 06/21/2016 11:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GetBTSC_CD]
AS
BEGIN
	SELECT *, 
			ISNULL(T2.Ten_Bp, '') AS Ten_Bp, 
			ISNULL(T3.Ten_Bp, '') AS Ten_Bp_YC,
			ISNULL(T4.Ten_Dt, '') AS Ten_Dt_Cbnv_YC,
			ISNULL(T5.Ten_Dt, '') AS Ten_Dt_Cbnv_BT,
			ISNULL(T6.Ten_Vt, '') AS Ten_Vt_Tb
		FROM R06BTSC T1 
			LEFT JOIN R81DMBP T2 ON T1.Ma_Bp = T2.Ma_Bp 
			LEFT JOIN R81DMBP T3 ON T1.Ma_Bp_YC = T3.Ma_Bp 
			LEFT JOIN R81DMDT T4 ON T1.Ma_Dt_Cbnv_YC = T4.Ma_Dt
			LEFT JOIN R81DMDT T5 ON T1.Ma_Dt_Cbnv_Bt = T5.Ma_Dt
			LEFT JOIN R81DMVT T6 ON T1.Ma_Vt_Tb = T6.Ma_Vt
		WHERE T1.Ma_Bp LIKE 'CD'
		ORDER BY Ngay_Sua_Chua
END
-----
USE [R50DONGTIEN]
GO
/****** Object:  StoredProcedure [dbo].[sp_PrintLichSuBTSCMMTB]    Script Date: 06/21/2016 11:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_PrintLichSuBTSCMMTB 'TL14'
ALTER PROCEDURE [dbo].[sp_PrintLichSuBTSCMMTB]
(
	@Ma_Vt VARCHAR(20) = '',
	@Ma_Dvcs VARCHAR(5) = 'A01'
)
AS
BEGIN
	DECLARE @_Stt INT = 0,
		@_PTKT NVARCHAR(MAX) = '',
		@_VTDP NVARCHAR(MAX) = ''

	SELECT T1.*, CASE WHEN Trong_Ke_Hoach = 1 THEN 0 ELSE 1 END AS Ngoai_Ke_Hoach, T2.Ten_Dt AS Ten_Dt_Cbnv_Bt, 
			CAST('' AS VARCHAR(5)) AS Stt1, CAST(0 AS INT) AS Status,
			CAST('' AS NVARCHAR(500)) AS Dien_Giai
		INTO #T_Detail
		FROM R06BTSC T1 INNER JOIN R81DMDT T2 ON T1.Ma_Dt_Cbnv_Bt = T2.Ma_Dt
		WHERE Ma_Vt_Tb = @Ma_Vt
	
	EXEC sp_DefaultTable '#T_Detail'
	
	UPDATE #T_Detail SET Dien_Giai = ''
	
	UPDATE #T_Detail SET Dien_Giai = N'Tình trạng: ' + SPACE(6) + Tinh_Trang + CHAR(13)
		WHERE Tinh_Trang <> ''
		
	UPDATE #T_Detail SET Dien_Giai = Dien_Giai + N'Hiện trạng: '+ SPACE(7) + Hien_Trang + CHAR(13) 
		WHERE Hien_Trang <> ''
		
	UPDATE #T_Detail SET Dien_Giai = Dien_Giai + N'Nguyên nhân:' + SPACE(1) + Nguyen_Nhan + CHAR(13) 
		WHERE Nguyen_Nhan <> ''
	
	UPDATE #T_Detail SET Dien_Giai = Dien_Giai + N'Biện pháp: ' + SPACE(5) + Bien_phap + CHAR(13) 
		WHERE Bien_phap <> ''
	
	--UPDATE #T_Detail SET Dien_Giai = Dien_Giai + N'Vật tư sử dụng: ' + SPACE(5) + Phu_Tung_Kem_Theo + CHAR(13) 
	--	WHERE Phu_Tung_Kem_Theo <> ''
	
	UPDATE #T_Detail SET Phu_Tung_Kem_Theo = REPLACE(Phu_Tung_Kem_Theo, ';', CHAR(13))
	
	UPDATE R06PTKT SET @_PTKT = CASE WHEN @_PTKT = '' THEN T2.Ten_Vt + ' (' + LTRIM(RTRIM(CAST(So_Luong AS INT))) + ')' ELSE @_PTKT + CHAR(13) + T2.Ten_Vt + ' (' + LTRIM(RTRIM(CAST(So_Luong AS INT))) + ')' END  
		FROM R06PTKT T1 INNER JOIN R81DMVT T2 ON T1.Ma_Vt_Tb_Kt = T2.Ma_Vt
		WHERE T1.Ma_Vt_Tb = @Ma_Vt
	
	UPDATE R06PTKT SET @_VTDP = CASE WHEN @_VTDP = '' THEN T2.Ten_Vt + ' (' + dbo.fn_FormatNumber(dbo.fn_GetTonCuoi(GETDATE(), '', Ma_Vt_Tb_Kt, '', @Ma_Dvcs), 0, ' ') + ')'
			ELSE @_VTDP + CHAR(13) + T2.Ten_Vt + ' (' + dbo.fn_FormatNumber(dbo.fn_GetTonCuoi(GETDATE(), '', Ma_Vt_Tb_Kt, '', @Ma_Dvcs), 0, ' ') + ')' END  
		FROM R06PTKT T1 INNER JOIN R81DMVT T2 ON T1.Ma_Vt_Tb_Kt = T2.Ma_Vt
		WHERE dbo.fn_GetTonCuoi(GETDATE(), '', Ma_Vt_Tb_Kt, '', @Ma_Dvcs) > 0
			AND T1.Ma_Vt_Tb = @Ma_Vt
		
	UPDATE #T_Detail SET Stt1 = @_Stt, @_Stt = @_Stt + 1
	
	DECLARE @_RowCountHd SMALLINT 
	SET @_RowCountHd = (SELECT COUNT(Ident00) FROM #T_Detail)

	--WHILE @_RowCountHd < 20
	--BEGIN
	--	INSERT #T_Detail(Ident00, Ma_Vt_Tb, Status, Stt) VALUES (0, @Ma_Vt, 1, '')
	--	SET @_RowCountHd = @_RowCountHd + 1
	--END

	SELECT *
		INTO #T_Header
		FROM R81DMVT WHERE Ma_Vt = @Ma_Vt
	
	SELECT *
		FROM #T_Header
	
	SELECT *, @_PTKT AS PTKT, @_VTDP AS VTDP,N'Tồn kho đến ' + dbo.fn_DTOS(GETDATE()) AS Label_TonCuoi  FROM #T_Detail ORDER BY Ma_Vt_Tb, Status, Stt1
END
----
USE [R50DONGTIEN]
GO
/****** Object:  StoredProcedure [dbo].[sp_PrintLyLichMMTB]    Script Date: 06/21/2016 11:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_PrintLyLichMMTB 'QT'
ALTER PROCEDURE [dbo].[sp_PrintLyLichMMTB]
(
	@Ma_Vt VARCHAR(20) = '',
	@Ma_Dvcs VARCHAR(5) = 'A01'
)
AS
BEGIN
	DECLARE @_Stt INT = 0,
		@_PTKT NVARCHAR(500) = '',
		@_VTDP NVARCHAR(500) = ''

	SELECT T1.*, CASE WHEN Trong_Ke_Hoach = 1 THEN 0 ELSE 1 END AS Ngoai_Ke_Hoach, T2.Ten_Dt AS Ten_Dt_Cbnv_Bt, 
			CAST('' AS VARCHAR(5)) AS Stt1, CAST(0 AS INT) AS Status,
			CAST('' AS NVARCHAR(500)) AS Dien_Giai
		INTO #T_Detail
		FROM R06BTSC T1 INNER JOIN R81DMDT T2 ON T1.Ma_Dt_Cbnv_Bt = T2.Ma_Dt
		WHERE Ma_Vt_Tb = @Ma_Vt
	
	EXEC sp_DefaultTable '#T_Detail'
	
	UPDATE #T_Detail SET Dien_Giai = ''
	
	UPDATE #T_Detail SET Dien_Giai = N'Tình trạng: ' + SPACE(6) + Tinh_Trang + CHAR(13)
		WHERE Tinh_Trang <> ''
		
	UPDATE #T_Detail SET Dien_Giai = Dien_Giai + N'Hiện trạng: '+ SPACE(7) + Hien_Trang + CHAR(13) 
		WHERE Hien_Trang <> ''
		
	UPDATE #T_Detail SET Dien_Giai = Dien_Giai + N'Nguyên nhân:' + SPACE(1) + Nguyen_Nhan + CHAR(13) 
		WHERE Nguyen_Nhan <> ''
	
	UPDATE #T_Detail SET Dien_Giai = Dien_Giai + N'Biện pháp: ' + SPACE(5) + Bien_phap + CHAR(13) 
		WHERE Bien_phap <> ''
	
	--UPDATE #T_Detail SET Dien_Giai = Dien_Giai + N'Vật tư sử dụng: ' + SPACE(5) + Phu_Tung_Kem_Theo + CHAR(13) 
	--	WHERE Phu_Tung_Kem_Theo <> ''
	
	UPDATE #T_Detail SET Phu_Tung_Kem_Theo = REPLACE(Phu_Tung_Kem_Theo, ';', CHAR(13))
	
	UPDATE R06PTKT SET @_PTKT = CASE WHEN @_PTKT = '' THEN T2.Ten_Vt + ' (' + LTRIM(RTRIM(CAST(So_Luong AS INT))) + ')'
			ELSE @_PTKT + CHAR(13) + T2.Ten_Vt + ' (' + LTRIM(RTRIM(CAST(So_Luong AS INT))) + ')' END
		FROM R06PTKT T1 INNER JOIN R81DMVT T2 ON T1.Ma_Vt_Tb_Kt = T2.Ma_Vt
		WHERE T1.Ma_Vt_Tb = @Ma_Vt
	
	UPDATE R06VTDP SET @_VTDP = CASE WHEN @_VTDP = '' THEN T2.Ten_Vt ELSE @_VTDP + CHAR(13) + T2.Ten_Vt END 
		FROM R06VTDP T1 INNER JOIN R81DMVT T2 ON T1.Ma_Vt_Dp = T2.Ma_Vt
		WHERE T1.Ma_Vt_Tb = @Ma_Vt
		
	UPDATE #T_Detail SET Stt1 = @_Stt, @_Stt = @_Stt + 1
	
	DECLARE @_RowCountHd SMALLINT 
	SET @_RowCountHd = (SELECT COUNT(Ident00) FROM #T_Detail)

	WHILE @_RowCountHd < 20
	BEGIN
		INSERT #T_Detail(Ident00, Ma_Vt_Tb, Status, Stt1) VALUES (0, @Ma_Vt, 1, '')
		SET @_RowCountHd = @_RowCountHd + 1
	END

	SELECT *
		INTO #T_Header
		FROM R81DMVT WHERE Ma_Vt = @Ma_Vt
	
	SELECT *
		FROM #T_Header
	
	SELECT *, @_PTKT AS PTKT, @_VTDP AS VTDP FROM #T_Detail ORDER BY Ma_Vt_Tb, Status, Stt1
END
----
USE [R50DONGTIEN]
GO
/****** Object:  StoredProcedure [dbo].[sp_PrintYCSC]    Script Date: 06/21/2016 11:15:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_PrintYCSC]
(
	@Ident00 INT = 0,
	@Ma_Dvcs VARCHAR(5) = 'A01'
)
AS
BEGIN
	DECLARE @Replicate NVARCHAR(500) =  + REPLICATE(' .', 200)
	
	SELECT T1.Ident00, T1.Ma_Vt_Tb,
			T2.Ten_Vt AS Ten_Vt_Tb, T2.Noi_Su_Dung,
			Ngay_Sua_Chua, Noi_Dung + @Replicate AS Noi_Dung,
			Tinh_Trang + @Replicate AS Tinh_Trang, 
			Thoi_Gian_Ngung_May, Thoi_Gian_Hoan_Thanh,
			T1.Ma_Bp, Ma_Dt_Cbnv_Bt, 
			Duyet, Ngay_Duyet, T1.Create_Log, T1.LastModify_Log, 
			Trong_Ke_Hoach, 
			Hien_Trang + @Replicate AS Hien_Trang,
			Nguyen_Nhan + @Replicate AS Nguyen_Nhan,
			Bien_Phap + @Replicate AS Bien_Phap,
			Ket_Qua + @Replicate AS Ket_Qua,
			Nghiem_Thu + @Replicate AS Nghiem_Thu,
			Ngay_DKHT, Ngay_Nghiem_Thu
		FROM R06BTSC T1 LEFT JOIN R81DMVT T2 ON T1.Ma_Vt_Tb = T2.Ma_Vt
		WHERE (@Ident00 = 0 OR T1.Ident00 = @Ident00)
END
----
USE [R50DONGTIEN]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTheBaoTri]    Script Date: 06/21/2016 11:16:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[sp_GetTheBaoTri]
(
	@Ident00 INT = 0
)
AS
BEGIN
	SELECT T1.*, T2.Ten_Vt AS Ten_Vt_Tb, T2.Nuoc_Sx, T2.Ngay_Su_Dung
		FROM R06BTSC T1 INNER JOIN R81DMVT T2 ON T1.Ma_Vt_Tb = T2.Ma_Vt 
		WHERE (T1.Ident00 = @Ident00 OR @Ident00 = 0)
END


-----

USE [R50DONGTIEN]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetKHBTSC]    Script Date: 06/21/2016 11:51:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--sp_GetKHBTSC '20150101', '20150731', @Loai_Ke_Hoach = N'Kiểm tra'
ALTER PROCEDURE [dbo].[sp_GetKHBTSC]
(
	@Ngay_Ct1 DATETIME = '19000101',
	@Ngay_Ct2 DATETIME = '19000101',
	@Loai_Ke_Hoach NVARCHAR(100) = '',
	@Dinh_Ky INT = 0,
	@Print BIT = 0,
	@Ma_Dvcs VARCHAR(5) = 'A01'
)
AS
BEGIN
	DECLARE @_Stt INT = 0
	IF @Ngay_Ct2 = '19000101'
		SET @Ngay_Ct2 = GETDATE()
	
	SELECT *, CAST('' AS NVARCHAR(200)) AS Ten_Vt_Tb,
			CAST('' AS NVARCHAR(200)) AS Ten_Vt_Tb_Kt,
			CAST('' AS NVARCHAR(200)) AS Vi_Tri,
			CAST('19000101' AS DATETIME) AS Ngay_Sua_Chua_CC,
			CAST('19000101' AS DATETIME) AS Ngay_Sua_Chua_DK,
			CAST('' AS VARCHAR(20)) AS Color,
			CAST(0 AS BIT) AS Duyet_KT,
			CAST(2 AS INT) AS Level,
			CAST(0 AS VARCHAR(5)) AS Stt1,
			CAST('' AS NVARCHAR(200)) AS SubTitle01,
			CASE WHEN Loai_Ke_Hoach = N'Kiểm tra' THEN 1 ELSE 0 END AS Kiem_Tra,
			CASE WHEN Loai_Ke_Hoach = N'Sửa chữa' THEN 1 ELSE 0 END AS Sua_Chua,
			CAST(0 AS BIT) AS Chon,
			CAST(0 AS BIT) AS Bold
		INTO #T_KHBTSC
		FROM R06KHBTSC
		WHERE ((@Ngay_Ct2 BETWEEN Ngay_Ap AND Ngay_End) OR (Ngay_Ap <= @Ngay_Ct2 AND Ngay_End = '19000101'))
			AND (@Dinh_Ky = 0 OR Dinh_Ky = @Dinh_Ky)
			AND CHARINDEX(Loai_Ke_Hoach, @Loai_Ke_Hoach) > 0
	
	EXEC sp_DefaultTable '#T_KHBTSC'
	
	UPDATE #T_KHBTSC SET Ten_Vt_Tb = T2.Ten_Vt
		FROM #T_KHBTSC T1 INNER JOIN R81DMVT T2 ON T1.Ma_Vt_Tb = T2.Ma_Vt
	
	UPDATE #T_KHBTSC SET Ten_Vt_Tb_Kt = T2.Ten_Vt
		FROM #T_KHBTSC T1 INNER JOIN R81DMVT T2 ON T1.Ma_Vt_Tb_Kt = T2.Ma_Vt
		
	SELECT Ma_Vt_Tb, Ma_Vt_Tb_Kt, MAX(Ngay_Sua_Chua) AS Ngay_Sua_Chua, TypeOfMaintenance
		INTO #T_BTSC
		FROM R06BTSC 
		WHERE CHARINDEX(TypeOfMaintenance, @Loai_Ke_Hoach) > 0
		GROUP BY Ma_Vt_Tb, Ma_Vt_Tb_Kt, TypeOfMaintenance
	
	UPDATE #T_KHBTSC SET Ngay_Sua_Chua_CC = T2.Ngay_Sua_Chua
		FROM #T_KHBTSC T1 INNER JOIN #T_BTSC T2 ON T1.Ma_Vt_Tb = T2.Ma_Vt_Tb
			AND T1.Ma_Vt_Tb_Kt = T2.Ma_Vt_Tb_Kt
	
	UPDATE #T_KHBTSC SET Ngay_Sua_Chua_DK = DATEADD(DAY, Dinh_Ky, Ngay_Sua_Chua_CC)
		WHERE Ngay_Sua_Chua_CC <> '19000101'
	
	UPDATE #T_KHBTSC SET 
			Color = 'blue',
			Duyet_KT = 0
		WHERE Ngay_Sua_Chua_DK <= GETDATE()
	
	UPDATE #T_KHBTSC SET 			
			Duyet_KT = 1
		WHERE Ngay_Sua_Chua_DK > GETDATE()
	
	UPDATE #T_KHBTSC SET 
			Vi_Tri = T2.Vi_Tri 
		FROM #T_KHBTSC T1 INNER JOIN R06PTKT T2 ON T1.Ma_Vt_Tb = T2.Ma_Vt_Tb AND T1.Ma_Vt_Tb_Kt = T2.Ma_Vt_Tb_Kt 
	
	SELECT *
		INTO #T_BaoCao 
		FROM #T_KHBTSC
		ORDER BY Ma_Vt_Tb, Ma_Vt_Tb_Kt
	
	EXEC sp_DefaultTable '#T_BaoCao'

	UPDATE #T_BaoCao SET @_Stt = @_Stt + 1, Stt1 = @_Stt
		
			
	IF (@Print = 1)
	BEGIN
		INSERT INTO #T_BaoCao(Ma_Vt_Tb, Noi_Dung, Level, Bold)
			SELECT Ma_Vt_Tb,MAX(Ten_Vt_Tb) AS Ten_Vt_Tb, 1, 1
				FROM #T_KHBTSC
				GROUP BY Ma_Vt_Tb
		
		UPDATE #T_BaoCao SET Noi_Dung = Noi_Dung + ' - ' + Ten_Vt_Tb_Kt
			WHERE Level = 2 AND Bold = 0
			
		DELETE FROM #T_BaoCao WHERE Ngay_Sua_Chua_DK > @Ngay_Ct2
		
		UPDATE #T_BaoCao SET SubTitle01 = N'Từ ngày ' + dbo.fn_DTOS(@Ngay_Ct1) + N' đến ngày ' + dbo.fn_DTOS(@Ngay_Ct2) 
	END
	
		
	SELECT * FROM #T_BaoCao
		ORDER BY Ma_Vt_Tb, Stt1, Ngay_Sua_Chua_DK
END
-----
USE [R50DONGTIEN]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetYCSC]    Script Date: 06/21/2016 11:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetYCSC]
AS
BEGIN
	SELECT T1.*, T2.Ten_Vt AS Ten_Vt_Tb 
		FROM R06BTSC T1 INNER JOIN R81DMVT T2 ON T1.Ma_Vt_Tb = T2.Ma_Vt
		WHERE Duyet_YC = 0 AND Is_YC = 1
			AND TypeOfMaintenance <> N'Kiểm tra định kỳ'
END

