USE [R50THEPMN3]
GO
/****** Object:  StoredProcedure [dbo].[sp_rptDTT05V]    Script Date: 05/04/2016 13:19:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SET DATEFORMAT DMY
-- EXEC sp_rptDTT05V_Test '20160401', '20160431'
-- Bảng tổng số lượng bán theo các kho
ALTER PROCEDURE [dbo].[sp_rptDTT05V]
(
	@Ngay_Ct1 DATETIME,
	@Ngay_Ct2 DATETIME,
	@Tk VARCHAR(10) = '',
	@Tk_Du VARCHAR(10) = '',
	@So_Ct VARCHAR(20) = '',
	@So_Ct0 VARCHAR(20) = '',
	@Ma_Dt VARCHAR(20) = '',
	@Ma_Bp VARCHAR(20) = '',
	@Ma_Hd VARCHAR(20) = '',
	@Ma_Dt_CbNv VARCHAR(20) = '',
	@Ma_Kv VARCHAR(20) = '',
	@Ma_Kho VARCHAR(20) = '',
	@Ma_Nh_Vt VARCHAR(20) = '',
	@Ma_Vt VARCHAR(20) = '',
	@Is_Vnd BIT = 1,
	@Language_Type CHAR(1) = 'V',
	@Ma_DvCs VARCHAR(5) = 'A01'
)
--WITH ENCRYPTION
AS
BEGIN
	
		--Tao Key
				
	DECLARE @_Key NVARCHAR(4000),
			@_SqlExec NVARCHAR(4000),
			@_NoGroup VARCHAR(20),
			@_Ma_Nhom VARCHAR(20)
		
	SELECT @_SqlExec = '', @_NoGroup = ''
	
	SET @_Key = '(0 = 0)'-- AND Loai_Ct =''2'''

	IF @Tk <> ''
		SET	@_Key = @_Key + ' AND (Tk LIKE ''' + @Tk + '%'')'
		
	IF @Tk_Du <> ''
		SET	@_Key = @_Key + ' AND (Tk_Du LIKE ''' + @Tk_Du + '%'')'	
		
	IF @So_Ct0 <> ''
		SET	@_Key = @_Key + ' AND (So_Ct0 LIKE ''' + @So_Ct0 + '%'')'	
	
	
	IF @Ma_Dt <> ''
		SET	@_Key = @_Key + ' AND (Ma_Dt = ''' + @Ma_Dt + ''')'

	IF @Ma_Bp <> ''
		SET @_Key = @_Key + ' AND (Ma_Bp IN (SELECT Ma_Bp
												FROM dbo.fn_GetMa_Bp_List(''' + @Ma_Bp + ''', 1)))'

	IF @Ma_Hd <> ''
		SET	@_Key = @_Key + ' AND (Ma_Hd = ''' + @Ma_Hd + ''')'
		
	IF @Ma_Dt_CbNv <> ''
		SET	@_Key = @_Key + ' AND (Ma_Dt_CbNv = ''' + @Ma_Dt_CbNv + ''')'	
		
	IF @Ma_Kv <> ''
		SET	@_Key = @_Key + ' AND (Ma_Kv = ''' + @Ma_Kv + ''')'

	IF @Ma_Kho <> ''
		SET	@_Key = @_Key + ' AND (Ma_Kho = ''' + @Ma_Kho + ''')'

	IF @Ma_Vt <> ''
		SET	@_Key = @_Key + ' AND (Ma_Vt = ''' + @Ma_Vt + ''')'
	
	IF @Ma_Nh_Vt <> ''	
		SET @_Key = @_Key + ' AND (Ma_Vt IN (SELECT Ma_Vt FROM  R81DMVT 
												WHERE Ma_Nh_Vt IN 
														(SELECT Ma_Nh_Vt 
															FROM dbo.fn_GetMa_Nh_Vt_List(''' + @Ma_Nh_Vt + ''', 1))))'	
	
	
	SET @_Key = @_Key + '  AND Ma_Dt IN (SELECT Ma_Dt FROM R81DMDT WHERE  Loai_Dt =''3'')'
	
	SELECT	Stt, Stt_Org,Ma_Ct, Ma_NVu,Ngay_Ct, So_Ct, Dien_Giai, Tk, Tk_No, Ma_Dt, Ma_Bp, Ma_Hd, Ma_Vt, Ma_Dt_CbNv, Ma_Kv, Ma_Kho, Ma_Vt_Sp, So_Luong, Loai_Ct, So_Ct0, Ngay_Ct0, So_Seri0,Ghi_Chu,
			Create_Log, LastModify_Log,CAST('' AS NVARCHAR(200)) AS Ten_Vt,
			CAST(0 AS MONEY) AS Kho_NB,CAST(0 AS MONEY) AS Kho_TD,
			CAST(0 AS MONEY) AS Kho_BH, CAST(0 AS MONEY) AS Kho_TMN,
			CAST(0 AS MONEY) AS Kho_NT, CAST(0 AS MONEY) AS Kho_DN,
			CAST(0 AS MONEY) AS Kho_TONG_TMN,
			CAST(0 AS MONEY) AS Tien_Ds_Nt, CAST(0 AS MONEY) AS Tien_Ds,
			CAST(0 AS MONEY) AS So_Luong_Ngay,
			CAST(0 AS MONEY) AS Kho_NB_Ngay,CAST(0 AS MONEY) AS Kho_TD_Ngay,
			CAST(0 AS MONEY) AS Kho_BH_Ngay, CAST(0 AS MONEY) AS Kho_TMN_Ngay,
			CAST(0 AS MONEY) AS Kho_NT_Ngay, CAST(0 AS MONEY) AS Kho_DN_Ngay			
		INTO #T_PhatSinh
		FROM vw_DoanhThu
		WHERE 0 = 1

	EXEC sp_DefaultTable '#T_PhatSinh'

	EXEC sp_ScanTableDoanhThu @Ngay_Ct1, @Ngay_Ct2, @_Key, '#T_PhatSinh', @Ma_DvCs
	
	UPDATE #T_PhatSinh SET So_Luong = -So_Luong WHERE Loai_Ct = '2'
	--- update Kho ký gửi cổ phần về kho cổ phần
	
	
		
	UPDATE #T_PhatSinh SET Ma_Kho = T2.Ma_Kho 
		FROM #T_PhatSinh T1 JOIN R05CTNX T2 ON T1.Stt_Org= T2.Stt WHERE T1.Ma_Nvu = 'HD05'
	

--- UPDATE KHO KÝ GỬI TMN VỀ O4TP
	UPDATE #T_PhatSinh SET Ma_Kho = '04TP' WHERE Ma_Ct = 'HDKG' AND Ma_Nvu = 'HDKG01'

--- UPDATE KHO TRUNG CHUYỂN VỀ 04TP
	
	--UPDATE #T_PhatSinh SET Ma_Kho = '04TP' WHERE Ma_Kho LIKE '05%'
	
	-- Lấy số lượng lũy kế

	UPDATE #T_PhatSinh SET Kho_TMN = So_Luong WHERE Ma_Kho = '04TP'
	UPDATE #T_PhatSinh SET Kho_NT = So_Luong WHERE Ma_Kho = '051NT'
	UPDATE #T_PhatSinh SET Kho_DN = So_Luong WHERE Ma_Kho = '051DN'
	UPDATE #T_PhatSinh SET Kho_NB = So_Luong WHERE Ma_Kho = '08NB'
	UPDATE #T_PhatSinh SET Kho_BH = So_Luong WHERE Ma_Kho = '08BH'
	UPDATE #T_PhatSinh SET Kho_TD = So_Luong WHERE Ma_Kho = '08TD'

	-- Lấy số lượng ngày
	UPDATE #T_PhatSinh SET So_Luong_Ngay = So_Luong WHERE Ngay_Ct = @Ngay_Ct2
	UPDATE #T_PhatSinh SET Kho_TMN_Ngay= So_Luong WHERE Ma_Kho = '04TP' AND Ngay_Ct = @Ngay_Ct2
	UPDATE #T_PhatSinh SET Kho_NT_Ngay= So_Luong WHERE (Ma_Kho = '051NT') AND Ngay_Ct = @Ngay_Ct2
	UPDATE #T_PhatSinh SET Kho_DN_Ngay= So_Luong WHERE (Ma_Kho = '051DN') AND Ngay_Ct = @Ngay_Ct2
	UPDATE #T_PhatSinh SET Kho_NB_Ngay = So_Luong WHERE Ma_Kho = '08NB' AND Ngay_Ct = @Ngay_Ct2
	UPDATE #T_PhatSinh SET Kho_BH_Ngay = So_Luong WHERE Ma_Kho = '08BH' AND Ngay_Ct = @Ngay_Ct2
	UPDATE #T_PhatSinh SET Kho_TD_Ngay = So_Luong WHERE Ma_Kho = '08TD' AND Ngay_Ct = @Ngay_Ct2
		
	SELECT Ma_Vt, CAST('' AS VARCHAR(20)) AS Mac_Thep, SUM(Kho_NB)+SUM(Kho_TD)+SUM(Kho_BH)+SUM(Kho_TMN) AS So_Luong, 
			CAST('' AS NVARCHAR(200)) AS Ten_Vt, 
			SUM(Kho_NB) AS Kho_NB, SUM(Kho_TD) AS Kho_TD, 
			SUM(Kho_BH) AS Kho_BH, SUM(Kho_TMN) AS Kho_TMN,
			SUM(Kho_NT) AS Kho_NT, SUM(Kho_DN) AS Kho_DN,
			SUM(Kho_NT)+ SUM(Kho_DN)+SUM(Kho_TMN) AS Kho_Tong_TMN,
			SUM(Kho_NB_Ngay)+SUM(Kho_TD_Ngay)+SUM(Kho_BH_Ngay)+SUM(Kho_TMN_Ngay) AS So_Luong_Ngay,
			SUM(Kho_NB_Ngay) AS Kho_NB_Ngay, SUM(Kho_TD_Ngay) AS Kho_TD_Ngay, 
			SUM(Kho_BH_Ngay) AS Kho_BH_Ngay, SUM(Kho_TMN_Ngay) AS Kho_TMN_Ngay, 	
			SUM(Kho_NT_Ngay) AS Kho_NT_Ngay, SUM(Kho_DN_Ngay) AS Kho_DN_Ngay, 	 
			CAST(0 AS BIT) AS Bold		
	INTO #T_BaoCao0
	FROM #T_PhatSinh 
	GROUP BY Ma_Vt
	
	
	
	UPDATE #T_BaoCao0 SET Ten_Vt = T2.Ten_Vt, Mac_Thep = T2.Mac_Thep
	FROM #T_BaoCao0 T1 INNER JOIN R81DMVT T2 ON T1.Ma_Vt = T2.Ma_Vt
	
	EXEC sp_DefaultTable '#T_BaoCao0'
	
	SELECT * INTO #T_BaoCao FROM #T_BaoCao0 WHERE 0 = 1
	
	EXEC sp_BuildGroup '#T_BaoCao0', '#T_BaoCao', 'Mac_Thep', 'So_Luong,Kho_NB,Kho_TD,Kho_BH,Kho_TMN,Kho_NT,Kho_DN,So_Luong_Ngay,Kho_NB_Ngay,Kho_TD_Ngay,Kho_BH_Ngay,Kho_TMN_Ngay,Kho_NT_Ngay,Kho_DN_Ngay', @Language_Type, @Ma_DvCs
	
	UPDATE #T_BaoCao SET Ma_Vt = Mac_Thep, Bold = 1
	
	EXEC sp_Copy_Data '#T_BaoCao0','#T_BaoCao'
	
	INSERT INTO #T_BaoCao(Ten_Vt, So_Luong, Kho_BH, Kho_NB, Kho_TD, Kho_TMN,Kho_NT,Kho_DN,Kho_Tong_TMN, So_Luong_Ngay, Kho_BH_Ngay, Kho_NB_Ngay, Kho_TD_Ngay, Kho_TMN_Ngay, Kho_NT_Ngay,Kho_DN_Ngay,Bold)
	SELECT	N'Tổng cộng',SUM(So_Luong), SUM(Kho_BH), SUM(Kho_NB),SUM(Kho_TD), SUM(Kho_TMN),SUM(Kho_NT),SUM(Kho_DN),SUM(Kho_Tong_TMN),SUM(So_Luong_Ngay), SUM(Kho_BH_Ngay), SUM(Kho_NB_Ngay),SUM(Kho_TD_Ngay), SUM(Kho_TMN_Ngay), SUM(Kho_NT_Ngay), SUM(Kho_DN_Ngay), 1
	FROM #T_BaoCao WHERE Bold = 0
	
	DELETE FROM #T_BaoCao WHERE  (ABS(So_Luong)+ ABS(Kho_BH)+ ABS(Kho_NB)+ ABS(Kho_TD)+ ABS(Kho_TMN))=0
	
	SELECT * FROM #T_BaoCao ORDER BY SortPath, Level, Ma_Vt
	
END		
