USE [R50THEPMN3]
GO
/****** Object:  StoredProcedure [dbo].[sp_rptDTC06]    Script Date: 05/04/2016 13:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
sp_rptDTC06 '20160401','20160430'
*/
-- Báo cáo bán hàng theo ngày
CREATE PROCEDURE [dbo].[sp_rptDTC06]
(
	@Ngay_Ct1 DATE = '',
	@Ngay_Ct2 DATE = '',
	@Tk VARCHAR(10) = '',
	@Tk_111 VARCHAR(10) = '11',	
	@Tk_131 VARCHAR(10) = '131',
	@Ma_Dt VARCHAR(20) = '',
	@Ma_Bp VARCHAR(20) = '',
	@Ma_Hd VARCHAR(20) = '',
	@Ma_Dt_CbNv VARCHAR(20) = '',
	@Ma_Nvu VARCHAR(20) = '',
	@Ma_Kv VARCHAR(20) = '',
	@Ma_Nh_Vt VARCHAR(20) = '',
	@Ma_Vt VARCHAR(20) = '',
	@Kieu_Th CHAR(1) = '0',	
	@Kieu_Nh CHAR(1) = '3',
	@Is_Vnd BIT = 1,
	@Language_Type CHAR(1) = 'V',
	@Ma_DvCs VARCHAR(5) = 'A01'
)
--WITH ENCRYPTION
AS
BEGIN
	
	DECLARE @_Key VARCHAR(1000),
			@_KeyCd VARCHAR(1000),
			@_Ma_Nhom VARCHAR(20),
			@_Ma_Th VARCHAR(20),
			@_Ten_Th VARCHAR(100),
			@_SQLExec VARCHAR(1000)

	SET @_Key = '(0 = 0) AND Ma_Dt IN (SELECT Ma_Dt FROM R81DMDT WHERE Loai_Dt = ''3'')  '	

	IF @Tk <> ''
		SET	@_Key = @_Key + ' AND (Tk LIKE ''' + @Tk + '%'')'
	
	IF @Ma_Dt <> ''
		SET	@_Key = @_Key + ' AND (Ma_Dt = ''' + @Ma_Dt + ''')'

	IF @Ma_Bp <> ''
	SET @_Key = @_Key + ' AND (Ma_Bp IN (SELECT Ma_Bp
												FROM dbo.fn_GetMa_Bp_List(''' + @Ma_Bp + ''', 1)))'

	IF @Ma_Hd <> ''
		SET	@_Key = @_Key + ' AND (Ma_Hd = ''' + @Ma_Hd + ''')'
	
	IF @Ma_Dt_CbNv <> ''
		SET	@_Key = @_Key + ' AND (Ma_Dt_CbNv = ''' + @Ma_Dt_CbNv + ''')'
		
	IF @Ma_Nvu <> ''
		SET	@_Key = @_Key + ' AND (Ma_Nvu = ''' + @Ma_Nvu + ''')'	
	
	IF @Ma_Kv <> ''
		SET	@_Key = @_Key + ' AND (Ma_Kv = ''' + @Ma_Kv + ''')'	
		
	IF @Ma_Vt <> ''
		SET	@_Key = @_Key + ' AND (Ma_Vt = ''' + @Ma_Vt + ''')'	
	
	IF @Ma_Nh_Vt <> ''	
		SET @_Key = @_Key + ' AND (Ma_Vt IN (SELECT Ma_Vt FROM  R81DMVT 
												WHERE Ma_Nh_Vt IN 
														(SELECT Ma_Nh_Vt 
															FROM dbo.fn_GetMa_Nh_Vt_List(''' + @Ma_Nh_Vt + ''', 1))))'
	
	SELECT	Stt,Ngay_Ct,Tk, Tk_Du, Ma_Dt,CAST ('' AS NVARCHAR(300)) AS Ten_Dt, Ma_Bp, Ma_Hd, Ma_Vt, Ma_Vt_Sp, So_Luong,Ma_Ct,So_Ct,
			CAST(0 AS MONEY) AS So_Luong_CTrinh,
			CAST(0 AS MONEY) AS So_Luong_TL,
			CAST(0 AS MONEY) AS So_Luong_DD,
			CAST(0 AS BIT ) AS IS_CK,
			Ps_Tang, Ps_Giam, Ps_Tang_Nt, Ps_Giam_Nt,
			So_Xe, So_Xa_Lan_Tau, So_LXH, Ma_Kho,CAST(''AS VARCHAR(20)) AS So_DH_Cty,So_QD, Ma_CTrinh,CAST ('' AS NVARCHAR(200)) AS Ten_CTrinh
		INTO #T_PhatSinh
		FROM vw_DoanhThu
		WHERE 0 = 1

	EXEC sp_DefaultTable '#T_PhatSinh'

	EXEC sp_ScanTableDoanhThu @Ngay_Ct1, @Ngay_Ct2, @_Key, '#T_PhatSinh', @Ma_DvCs		

	-- Tinh toán các cột tiền
	UPDATE #T_PhatSinh SET
			So_Luong = - So_Luong
		WHERE Ps_Giam + Ps_Giam_Nt <> 0		

	UPDATE #T_PhatSinh SET IS_CK = T2.IS_CK
		FROM #T_PhatSinh T1 JOIN R81DMQD T2 ON T1.So_QD = T2.So_QD
	
	UPDATE #T_PhatSinh SET So_Luong_CTrinh = So_Luong WHERE Ma_CTrinh<>''
	
	UPDATE #T_PhatSinh SET So_Luong_TL = - ISNULL(So_Luong,0) WHERE Ma_Ct LIKE 'HDTL%'
	
	UPDATE #T_PhatSinh SET So_Luong_DD = So_Luong WHERE Ma_CTrinh=''
	
	UPDATE #T_PhatSinh SET Ten_Dt = T2.Ten_Dt FROM #T_PhatSinh T1 JOIN R81DMDT T2 ON T1.Ma_Dt = T2.Ma_Dt
	UPDATE #T_PhatSinh SET Ten_CTrinh = T2.Ten_CTrinh FROM #T_PhatSinh T1 JOIN R81DMCTRINH T2 ON T1.Ma_CTrinh = T2.Ma_CTrinh
	
	SELECT	Stt,Ngay_Ct, Ma_Ct, So_Ct, Ma_Dt,MAX(Ten_Dt) AS Ten_Dt, So_Xe, So_Xa_Lan_Tau, So_LXH, Ma_Kho, So_DH_Cty,
			So_QD, Ma_CTrinh,MAX(Ten_CTrinh) AS Ten_CTrinh, IS_CK,
			SUM(So_Luong) AS So_Luong, 
			SUM(So_Luong_TL) AS So_Luong_TL, 
			SUM(So_Luong_CTrinh)  AS So_Luong_CTrinh,
			SUM(So_Luong_DD)  AS So_Luong_DD,
			CAST(0 AS MONEY) AS Ty_Le_CTrinh, CAST(0 AS MONEY) AS Ty_Le_DD,
			SPACE(20) AS ColumnID, CAST('' AS NVARCHAR(200)) AS ColumnName,
			CAST('' AS VARCHAR(20)) AS Ma_Nh,CAST('' AS VARCHAR(20)) AS Ma_Th,CAST('' AS NVARCHAR(200)) AS Ten_Th,
			CAST(0 AS BIT) AS Bold, 0 AS Level, CAST(0 AS VARBINARY(MAX)) AS SortPath 
		INTO #T_BaoCao0
		FROM #T_PhatSinh
		GROUP BY Stt,Ngay_Ct, Ma_Ct, So_Ct, Ma_Dt,So_Xe, So_Xa_Lan_Tau,Ma_Kho, So_LXH, So_DH_Cty,So_QD, Ma_CTrinh,IS_CK

	EXECUTE Sp_DefaultTable '#T_BaoCao0'
	
	SELECT * 
		INTO #T_BaoCao
		FROM #T_BaoCao0 
		WHERE 0 = 1
	
	EXECUTE sp_DefaultTable '#T_BaoCao'
	
	SELECT @_Ma_Nhom = dbo.fn_GetMa_Nhom(@Kieu_Nh)
	SELECT @_Ma_Th = dbo.fn_GetMa_Nhom(@Kieu_Th)


	IF (COL_LENGTH('TempDB..' + '#T_BaoCao0', @_Ma_Th) IS NOT NULL)
		EXEC('UPDATE #T_BaoCao0 SET Ma_Th = ' + @_Ma_Th)

	IF @_Ma_Th = @_Ma_Nhom
	BEGIN
		IF @_Ma_Nhom = 'MA_DT'--BuildTreeByDmNhDt
		BEGIN
			EXECUTE Sp_BuildTreeByDmNhDt '#T_BaoCao0', '#T_BaoCao', 'So_Luong,So_Luong_TL, So_Luong_CTrinh,So_Luong_DD', @Ma_DvCs
			
			UPDATE #T_BaoCao SET 
					Ma_Nh = DmDt.Ma_Nh_Dt
				FROM #T_BaoCao BaoCao JOIN R81DMDT DmDt
				ON BaoCao.Ma_Dt = DmDt.Ma_Dt
			
			UPDATE #T_BaoCao SET 
				Ma_Th = ColumnID,
				Ten_Th = ColumnName,
				Bold = 1

			SELECT ColumnID, SortPath
				INTO #T_BaoCao1
				FROM #T_BaoCao

			--Đưa dữ liệu từ bảng Source vào sau khi đã tạo cây
			INSERT INTO #T_BaoCao (Ma_Th, So_Luong, So_Luong_TL,So_Luong_CTrinh,So_Luong_DD, Ty_Le_CTrinh, Ty_Le_DD, SortPath, Level)
				SELECT Ma_Th,
						SUM(So_Luong) AS So_Luong,
						SUM(So_Luong_TL) AS So_Luong_TL,	
						SUM(So_Luong_CTrinh) AS So_Luong_CTrinh,	
						SUM(So_Luong_DD) AS So_Luong_DD,
						SUM(Ty_Le_CTrinh), SUM(Ty_Le_DD),
						SortPath, Level
					FROM #T_BaoCao0
					GROUP BY Ma_Th, SortPath, Level
			
			-- Cap nhat gia tri vao @_Ma_Nhom, @_Ma_Th
			SET @_SQLExec = 'UPDATE #T_BaoCao SET ' + @_Ma_Nhom + ' = BaoCao1.ColumnID
								FROM #T_BaoCao BaoCao JOIN #T_BaoCao1 BaoCao1
								ON BaoCao.SortPath = BaoCao1.SortPath;			
							UPDATE #T_BaoCao SET ' + @_Ma_Th + ' = Ma_Th WHERE Bold = 0'		
							
			EXECUTE(@_SQLExec) 

		END
		ELSE --Nhóm theo quyết định
			EXEC sp_BuildGroup '#T_BaoCao0', '#T_BaoCao', 'So_Qd', 'So_Luong,So_Luong_TL, So_Luong_CTrinh,So_Luong_DD', @Ma_DvCs

	END	ELSE
	BEGIN
		SET @_Ma_Nhom = @_Ma_Nhom + ',' + @_Ma_Th
		EXEC sp_BuildGroup '#T_BaoCao0', '#T_BaoCao', @_Ma_Nhom, 'So_Luong,So_Luong_TL, So_Luong_CTrinh,So_Luong_DD', @Ma_DvCs
		UPDATE #T_BaoCao SET Bold = 1 WHERE LastLevel = 0
		
	END
	
	UPDATE #T_BaoCao SET
			ColumnID = DmDt.Ma_Dt,
			ColumnName = DmDt.Ten_Dt
		FROM #T_BaoCao BaoCao JOIN R81DmDt DmDt ON BaoCao.Ma_Dt = DmDt.Ma_Dt
	
	UPDATE #T_BaoCao SET Ty_Le_CTrinh = (So_Luong_CTrinh/So_Luong)*100, Ty_Le_DD = (So_Luong_DD/So_Luong)*100 WHERE So_Luong <> 0
		
	--Cập nhật tên
	EXEC sp_LookupUpdateName '#T_BaoCao', 'Ma_Th', 'Ten_Th', @_Ma_Th

	UPDATE #T_BaoCao SET ColumnName = SPACE(2*(Level - 1)) + ColumnName

	INSERT INTO #T_BaoCao (ColumnName, So_Luong, So_Luong_TL,So_Luong_CTrinh,So_Luong_DD, SortPath, Level, Bold)
		SELECT dbo.fn_GetLanguage('Tong_Cong', @Language_Type), 
				ISNULL(SUM(So_Luong), 0), ISNULL(SUM(So_Luong_TL), 0), ISNULL(SUM(So_Luong_CTrinh), 0),	ISNULL(SUM(So_Luong_DD), 0), 
				MAX(SortPath), MAX(Level) + 1, 1
			FROM #T_BaoCao
			WHERE Bold = 0 
		
SELECT * FROM #T_BaoCao ORDER BY SortPath, Level
END

GO
DELETE FROM R00REPORT WHERE REPORT_ID = 'DTC06'
DELETE FROM R00REPORTINFO WHERE REPORT_ID = 'DTC06'
INSERT INTO R00REPORTINFO(Report_ID, Column_ID, Stt, Description, Width, Type, Scale, Resizable, Visible, Vnd_Nt) VALUES(N'DTC06', N'COLUMNID', 1, N'Mã đối tượng', 80, N'T', 0, 1, 1, N'3')
INSERT INTO R00REPORTINFO(Report_ID, Column_ID, Stt, Description, Width, Type, Scale, Resizable, Visible, Vnd_Nt) VALUES(N'DTC06', N'COLUMNNAME', 2, N'Tên', 250, N'T', 0, 1, 1, N'3')
INSERT INTO R00REPORTINFO(Report_ID, Column_ID, Stt, Description, Width, Type, Scale, Resizable, Visible, Vnd_Nt) VALUES(N'DTC06', N'SO_LUONG', 5, N'Số lượng', 100, N'N', 2, 1, 1, N'3')
DELETE FROM R00MENU_REPORT WHERE REPORT_ID = 'DTC06'
INSERT INTO R00MENU_REPORT(Menu_ID, Report_ID) VALUES(1279, N'DTC06')