SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

/*Lấy dữ liệu [Thanh toán] từ vw_SoCai0 để thanh toán cho Hóa đơn
DROP FUNCTION fn_ThanhToan
SELECT * FROM vw_ThanhToan
*/
ALTER VIEW [dbo].[vw_ThanhToan]
WITH ENCRYPTION
AS

	WITH TK_HANTT_LIST AS
	(
		SELECT String
			FROM R00Parameter T1 CROSS APPLY dbo.fn_Split(T1.Parameter_Value) T2
			WHERE T1.Parameter_ID = 'TK_HANTT_LIST'
	)
	SELECT  T1.Stt AS Stt_PT, MAX(T1.Ma_Ct) AS Ma_Ct_PT, MAX(T1.Ngay_Ct) AS Ngay_Ct_PT, MAX(T1.So_Ct) AS So_Ct_PT, MAX(T1.Ma_Tte) AS Ma_Tte_PT, MAX(T1.Ty_Gia) AS Ty_Gia_PT, MAX(T1.Dien_Giai) AS Dien_Giai_PT, 
			T1.Tk, T1.Ma_Dt, MAX(T1.Ma_Hd) AS Ma_HD, 
			ISNULL(SUM(T1.Tien_PT), 0) AS Tien_PT, 
			ISNULL(SUM(T1.Tien_PT_Nt), 0) AS Tien_PT_Nt, 
			T1.Is_UngTruoc, T1.Is_SoDuDau, T1.Duyet, MAX(T1.Ngay_Ct0) AS Ngay_Ct0, MAX(T1.So_Ct0) AS So_Ct0, T1.Ma_DvCs
		FROM
		(
		SELECT  T1.Stt, T1.Ma_Ct, T1.Ngay_Ct, T1.So_Ct, T1.Ma_Tte, T1.Ty_Gia, T1.Dien_Giai, 
				T1.Tk_No AS Tk, T1.Ma_Dt_No AS Ma_Dt, T1.Ma_Hd_No AS Ma_Hd, 
				CASE WHEN LEFT(T1.Tk_No, 1) IN ('3','4','5','7') THEN T1.Tien ELSE - T1.Tien END AS Tien_PT, 
				CASE WHEN LEFT(T1.Tk_No, 1) IN ('3','4','5','7') THEN T1.Tien_Nt ELSE -T1.Tien_Nt END AS Tien_PT_Nt, 
				T1.Is_UngTruoc, CAST(0 AS BIT) AS Is_SoDuDau, CAST(1 AS BIT) AS Duyet, T1.Ngay_Ct0, T1.So_Ct0, T1.Ma_DvCs
			FROM dbo.vw_SoCai0 T1 JOIN TK_HANTT_LIST ON T1.Tk_No LIKE TK_HANTT_LIST.String + '%'
			WHERE (T1.Han_Tt = 0) AND (T1.Is_CLTG = 0) AND Ngay_Ct >= '20150401'

			UNION ALL
			SELECT  T2.Stt, T2.Ma_Ct, T2.Ngay_Ct, T2.So_Ct, T2.Ma_Tte, T2.Ty_Gia, T2.Dien_Giai, 
					T2.Tk_Co AS Tk, T2.Ma_Dt_Co AS Ma_Dt, T2.Ma_Hd_Co AS Ma_Hd, 
					CASE WHEN LEFT(T2.Tk_Co, 1) IN ('1','2','6','8') THEN T2.Tien ELSE - T2.Tien END AS Tien_PT, 
					CASE WHEN LEFT(T2.Tk_Co, 1) IN ('1','2','6','8') THEN T2.Tien_Nt ELSE -T2.Tien_Nt END AS Tien_PT_Nt, 
					T2.Is_UngTruoc, CAST(0 AS BIT) AS Is_SoDuDau, CAST(1 AS BIT) AS Duyet, T2.Ngay_Ct0, T2.So_Ct0, T2.Ma_DvCs
				FROM dbo.vw_SoCai0  T2 JOIN TK_HANTT_LIST ON T2.Tk_Co LIKE TK_HANTT_LIST.String + '%'
				WHERE (T2.Han_Tt = 0) AND (T2.Is_CLTG = 0) AND Ngay_Ct >= '20150401'

			UNION ALL --Lấy các phiếu Ứng trước
			SELECT  T3.Stt, T3.Ma_Ct, T3.Ngay_Ct, T3.So_Ct, T3.Ma_Tte, T3.Ty_Gia, T3.Dien_Giai, 
					T3.Tk, T3.Ma_Dt, T3.Ma_Hd, 
					ROUND(T3.Tien_Tt0, 0) AS Tien_PT, 
					ROUND(T3.Tien_Tt_Nt0, 2) AS Tien_PT_Nt, 
					T3.Is_UngTruoc, CAST(1 AS BIT) AS Is_SoDuDau, CAST(1 AS BIT) AS Duyet, T3.Ngay_Ct0, T3.So_Ct0, T3.Ma_DvCs
				FROM dbo.R80SdHanTt T3 JOIN TK_HANTT_LIST ON T3.Tk LIKE TK_HANTT_LIST.String + '%'
				WHERE (T3.Han_Tt = 0) 

		) T1
		GROUP BY T1.Stt, T1.Tk, T1.Ma_Dt, T1.Is_UngTruoc, T1.Is_SoDuDau, T1.Duyet, T1.Ma_DvCs
