USE [R50THEPMN3]
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaBQTH]    Script Date: 11/6/2026 8:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*Thủ tục tính giá vốn theo phương pháp bình quân tháng
DBCC FREEPROCCACHE
DBCC DROPCLEANBUFFERS

CREATE UNIQUE CLUSTERED INDEX Stt_Stt0 ON vw_TheKHo (Stt, Stt0, Loai_Ct)
CREATE NONCLUSTERED INDEX Ma_Kho ON vw_TheKHo (Ma_Kho)
SELECT DISTINCT Ma_Kho FROM vw_TheKHo
SELECT * FROM vw_TheKHo
SELECT * FROM vw_TheKHo WHERE Ngay_Ct BETWEEN '1/1/2011' AND '31/1/2011' AND Ma_Kho <> '' AND Ma_Vt <> ''
SET NOCOUNT ON
SET DATEFORMAT DMY
EXEC sp_GiaBQTH '20150401', '20150430', @Ma_Kho = '', @Ma_Vt = 'B35210100'
EXEC sp_GiaBQTH '20150401', '20150430', @Ma_Kho = '', @Ma_Vt = 'B36110100' ---> Lech 1 dong o Ma B35410250
EXEC sp_GiaBQTH '20150401', '20150430', @Ma_Kho = '', @Ma_Vt = 'B35410250' ---> Lech 1 dong o Ma B36110100
EXEC sp_GiaBQTH '20150401', '20150430', @Ma_Kho = '06HG', @Ma_Vt = 'B36110100'
EXEC sp_GiaBQTH '20150401', '20150430', @Ma_Kho = '06HG', @Ma_Vt = 'B35410220'
EXEC sp_GiaBQTH '20260501', '20260531', @Ma_Kho = '06CH',
@Ma_Kho_List = '06BN,06CH,06CHBL1,06CHBL2,06CHCM1,06CHKG1,06CHLA1,06CHNT1,06CHTG1,06CHTV1,06CHTV2,06CHVL1,06CHVL2,06CKTG,06CKTGAG1,06CKTGCM1,06CKTGCT1,06CKTGCT2,06CKTGST1,06CL,06CNKK3,06CTN,06DT,06FICO,06HCM2,06HCM2AG1,06HCM2AG2,06HCM2AG3,06HCM2CM1,06HCM2CM2,06HCM2CT1,06HCM2CT2,06HCM2CT3,06HCM2CT4,06HCM2CT5,06HCM2KG1,06HCM2KG2,06HCM2KG3,06HCM2LA2,06HCM2LA3,06HCM2LA4,06HCM2LA5,06HCM2ST1,06HCM2ST2,06HCM3,06HCM4LA,06HCMLD,06HG,06HGBL,06HGCT,06HGCT2,06HGPQ,06HOSA,06HOSA1,06HOSA10,06HOSA11,06HOSA12,06HOSA2,06HOSA3,06HOSA4,06HOSA5,06HOSA6,06HOSA7,06HOSA8,06HOSA9,06HS,06HSVL,06HTLD,06HUTH,06HUTH1,06HUTH2,06HUTH3,06HUTH4,06HUTH5,06INDECO,06KH,06LKDN10,06LKDN12,06LKDN13,06LKDN9,06LKHCM1,06LKHCM11,06LKHCM2,06LKHCM3,06LKHCM4,06LKHCM5,06LKHCM6,06LKHCM7,06LKHCM8,06LTB,06MTG,06MTGDL,06MTGNT,06NAD,06NBAO,06PHG,06PHSDAG,06PHSDCT,06PHSDDT1,06PHSDDT2,06PHSDVL1,06PHSDVL2,06PHSDVL3,06PNKGKG1,06PNKGKG2,06PT,06PTBL1,06PTBT1,06PTNT1,06PTNT2,06PTNT3,06PTNT4,06PTNT5,06PTNT6,06PTNT7,06PTNT8,06PTNT9,06PTTG1,06QTBL1,06QTDT2,06QTHCM1,06QTKG1,06QTKG2,06QTLA1,06QTST1,06QTVL1,06SIMCO,06SLHCM1,06SLHCM2,06SLLA1,06SLTN,06SM,06SMCBC1,06SMCBR1,06SMCBTR1,06SMCBTR2,06SMCCM1,06SMCCM2,06SMCCT1,06SMCCT2,06SMCDT1,06SMCDT2,06SMCDT3,06SMCDT4,06SMCDT5,06SMCDT6,06SMCDT7,06SMCKG1,06SMCLA1,06SMCLA2,06SMCST1,06SMCTN1,06SMCVL1,06SMCVL2,06TD,06TDAG1,06TDBL1,06TDBT1,06TDBT2,06TDBT3,06TDCT1,06TDCT3,06TDCT4,06TDCT5,06TDDT1,06TDDT2,06TDDT3,06TDKG1,06TDKG2,06TDKG3,06TDKG4,06TDLA1,06TDTG1,06TDTV1,06TDTV2,06TDVL1,06TDVL2,06TH,06THP,06THPAG1,06THPBL1,06THPBT1,06THPCM1,06THPCT1,06THPDN1,06THPHCM1,06THPLA1,06THPTG1,06THPTG2,06THPTG3,06TKCM1,06TKCM2,06TKCM3,06TLLD1,06TLLD2,06TLLD3,06TONG1,06TP,06TP1,06TSCM1,06TT,06VA,06XTDN1'

*/
ALTER PROCEDURE [dbo].[sp_GiaBQTH]
(
	@Ngay_Ct1 DATE,
	@Ngay_Ct2 DATE,
	@Ma_Kho VARCHAR(20) = '',
	@Ma_Kho_List VARCHAR(2000) = '',
	@Ma_Vt VARCHAR(20) = '',
	@Language_Type CHAR(1) = 'V', 
	@Ma_DvCs VARCHAR(5)= 'A01'
)
--WITH ENCRYPTION
AS
BEGIN

	DECLARE @_SQLExec VARCHAR(MAX),
			@_Key VARCHAR(4000),
			@_KeyDieuChuyen VARCHAR(4000),
			@_Table_Ct VARCHAR(50),
			@_Ma_Ct VARCHAR(50),
			@_Is_HD BIT,
			@_Ma_Vt VARCHAR(20),
			@_Ma_Kho VARCHAR(20),
			@_Ma_Kho2 VARCHAR(20),
			@_Ma_KhoN VARCHAR(20),
			@_Ma_KhoX VARCHAR(20),
			@_Ma_KhoX2 VARCHAR(20),
			@_i INT = 0, @_Index INT = 0,
			@_SttMax VARCHAR(20), 
			@_Stt0 INT, @_Stt_Duyet INT,
			@_SysMa_Tte VARCHAR(3),
			@_Stt_GVON VARCHAR(15),
			@_strPivotUpdate VARCHAR(4000) = '',
			@_strPivotSelect VARCHAR(4000) = '',
			@_strPivotFor VARCHAR(4000) = '',
			@_Ma_Kho_LienQuan_List VARCHAR(3000) = ''

	DECLARE @_Du_Dau MONEY,
			@_SL_Nhap_DC MONEY,
			@_Tien_Nhap_DC MONEY,
			@_SL_Xuat_TB MONEY,
			@_Tien_Xuat_TB MONEY,
			@_Du_Cuoi MONEY,
			@_Gia_Tb NUMERIC(28, 10),
			@_Gia_Tb_Nt NUMERIC(28, 10), 
			@_Tien_CL MONEY,
			@_Tien_CL_Nt MONEY,
			@_Ton_Cuoi MONEY
	
	SET @_Stt_GVON = @Ma_DvCs + 'GVON' + STR(YEAR(@Ngay_Ct2), 4) + dbo.fn_PADL(MONTH(@Ngay_Ct2), 2, '0') --13 ký tự

	SELECT @_SysMa_Tte = Parameter_Value 
		FROM R00Parameter 
		WHERE Parameter_ID = 'SYSMA_TTE'
	
	SELECT String AS Ma_Kho INTO #T_DsKhoList0 
			FROM dbo.fn_Split(@Ma_Kho_List) OPTION (MAXRECURSION 1000)
	
	INSERT INTO #T_DsKhoList0(Ma_Kho)
	SELECT String AS Ma_Kho 
			FROM dbo.fn_Split(@Ma_Kho)

	select t1.Ma_Kho, t2.Ma_KhoN, T2.Ma_KhoX into  #T_DsKhoList 
		from #T_DsKhoList0 T1 JOIN (SELECT MA_KHO, Ma_KhoN, Ma_KhoX FROM vw_TheKho 
		where Ngay_Ct >= @Ngay_Ct1 and Ngay_Ct <= @Ngay_Ct2 --AND Loai_Ct = '2' 
			group by MA_KHO, Ma_KhoN, Ma_KhoX) t2 
		on t1.Ma_Kho = t2.Ma_Kho
	
	SELECT Ma_KhoN AS MA_KHO INTO #T_DsKhoList1 FROM #T_DsKhoList WHERE Ma_KhoN <> '' GROUP BY Ma_KhoN
	UNION ALL
	SELECT Ma_KhoX AS MA_KHO FROM #T_DsKhoList WHERE Ma_KhoX <> '' GROUP BY Ma_KhoX
	
	SELECT DISTINCT ',' + RTRIM(Ma_Kho) FROM #T_DsKhoList1 FOR XML PATH('') -- RETURN		
	SELECT @_Key = '(Ma_Vt <> '''')'
				
	IF (@Ma_Vt <> '')
		SET @_Key = @_Key + ' AND (Ma_Vt = ''' + @Ma_Vt + ''')'
	
	IF (@Ma_Kho <> '')
	BEGIN
		SET @_Ma_Kho_LienQuan_List = @Ma_Kho

		SET @_Ma_Kho_LienQuan_List = @_Ma_Kho_LienQuan_List + 
			(SELECT DISTINCT ',' + RTRIM(Ma_Kho) FROM #T_DsKhoList1 FOR XML PATH(''))

		IF (@_Ma_Kho_LienQuan_List <> '')
			SET @_Key = @_Key + ' AND Ma_Kho IN (''' + REPLACE(@_Ma_Kho_LienQuan_List, ',', ''',''') + ''')'
	END
	ELSE IF @Ma_Kho_List <> ''
	BEGIN
		
		SET @_Ma_Kho_LienQuan_List = @Ma_Kho_List
		
		SET @_Ma_Kho_LienQuan_List = @_Ma_Kho_LienQuan_List + 
			(SELECT DISTINCT ',' + RTRIM(Ma_Kho) FROM #T_DsKhoList1 FOR XML PATH(''))

		IF (@_Ma_Kho_LienQuan_List <> '')
			SET @_Key = @_Key + ' AND Ma_Kho IN (''' + REPLACE(@_Ma_Kho_LienQuan_List, ',', ''',''') + ''')'
		
	
	END
	ELSE
		SET @_Key = @_Key + ' AND Ma_Kho <> '''''
	
	--DROP TABLE TẠM
	DROP TABLE #T_DsKhoList0
	DROP TABLE #T_DsKhoList
	DROP TABLE #T_DsKhoList1
	--SELECT @_Ma_Kho_LienQuan_List, @_Key
	--Tạo phiếu xuất trong trường hợp xuất vào giá vốn
	SELECT Stt, Stt0, Ma_Vt, Ma_Kho, Dvt, Tk_No, Tk_Co, Tien, Tien_Nt,
			CAST('' AS VARCHAR(3)) AS Ma_Ct, CAST('' AS DATETIME) AS Ngay_Ct, CAST('' AS VARCHAR(20)) AS So_Ct,
			CAST('' AS NVARCHAR(400)) AS Dien_Giai, CAST('' AS VARCHAR(4)) AS Ma_Tte, CAST('' AS MONEY) AS Ty_Gia, CAST('1' AS BIT) AS Auto_Cost
		INTO #T_CtNx
		FROM R05CTNX
		WHERE 0 = 1
	
	EXEC Sp_DefaultTable '#T_CtNx'

	--Tồn kho đầu
	SELECT Ma_Kho, Ma_Vt, Ton_Dau, Du_Dau, Du_Dau_Nt
		INTO #T_TonDau
		FROM R80SDV
		WHERE 0 = 1

	EXEC sp_DefaultTable '#T_TonDau'
	
	--Nhập xuất trong kỳ
	EXEC sp_TonDauList @Ngay_Ct1, @_Key, '#T_TonDau', @Ma_DvCs
	DELETE FROM #T_TonDau WHERE ABS(Ton_Dau) + ABS(Du_Dau) = 0	
	
	SELECT Stt, Stt0, Ngay_Ct, Ma_Ct, So_Ct, Loai_Ct, Ma_Dt, 
			Ma_Vt, Ma_Kho, Ma_KhoN, Ma_KhoX, 
			So_Luong, Gia, Gia_Nt, Tien, Tien_Nt, 
			Auto_Cost, SPACE(20) AS Loai,
			CAST(0 AS BIT) AS Is_XDC, Ma_Kho AS Ma_Kho_XDC_Den
		INTO #T_TheKho
		FROM vw_THEKHO
		WHERE 0 = 1
	
	EXEC sp_DefaultTable '#T_TheKho'

	CREATE INDEX Stt ON #T_TheKho(Stt)
	CREATE INDEX Loai_Ct ON #T_TheKho(Loai_Ct)
	CREATE INDEX Ngay_Ct ON #T_TheKho(Ngay_Ct)
	CREATE INDEX Ma_Vt ON #T_TheKho(Ma_Vt)
	CREATE INDEX Ma_Kho ON #T_TheKho(Ma_Kho)
	CREATE INDEX Ma_KhoN ON #T_TheKho(Ma_KhoN)
	CREATE INDEX Ma_KhoX ON #T_TheKho(Ma_KhoX)
	CREATE INDEX Loai ON #T_TheKho(Loai)

	SET @_Key = '(' + @_Key + ') AND (LEFT(Stt, ' + RTRIM(LTRIM(STR(LEN(@_Stt_GVON)))) + ') <> ''' + @_Stt_GVON + ''')'

	EXEC sp_ScanTableTheKho @Ngay_Ct1, @Ngay_Ct2, @_Key, '#T_TheKho', @Ma_DvCs
	DELETE FROM #T_TheKho WHERE ABS(So_Luong) + ABS(Tien) = 0
	
	INSERT INTO #T_TheKho (Loai_Ct, Ma_Vt, Ma_Kho, So_Luong, Tien, Tien_Nt, Loai)
		SELECT '0' AS Loai_Ct, Ma_Vt, Ma_Kho, ISNULL(SUM(Ton_Dau), 0), ISNULL(SUM(Du_Dau), 0), ISNULL(SUM(Du_Dau_Nt), 0), '0-DK'
			FROM #T_TonDau 
			WHERE Ma_Kho IN (SELECT DISTINCT Ma_Kho FROM #T_TheKho)
			GROUP BY Ma_Vt, Ma_Kho
	
	UPDATE #T_TheKho SET Loai = '0-DK' WHERE Loai_Ct = '0'
	UPDATE #T_TheKho SET Loai = '1-NHAP_DC' WHERE Loai_Ct = '1' AND Auto_Cost = 1 AND Ma_KhoX <> ''
	UPDATE #T_TheKho SET Loai = '1-NHAP_TB' WHERE Loai_Ct = '1' AND Loai <> '1-NHAP_DC'
	UPDATE #T_TheKho SET Loai = '2-XUAT_TB' WHERE Loai_Ct = '2' AND Auto_Cost = 1
	UPDATE #T_TheKho SET Loai = '2-XUAT_DD' WHERE Loai_Ct = '2' AND Auto_Cost <> 1
	
	UPDATE T1 SET Is_XDC = 1, Ma_Kho_XDC_Den = T2.Ma_Kho
		FROM #T_TheKho T1 JOIN #T_TheKho T2 ON T1.Loai = '2-XUAT_TB' AND T2.Loai = '1-NHAP_DC' AND T1.Stt = T2.Stt AND T1.Ma_Vt = T2.Ma_Vt

	CREATE TABLE #T_TongHopNXT
	(
		Stt INT NOT NULL DEFAULT(0) PRIMARY KEY,
		Ma_Vt VARCHAR(50) NOT NULL DEFAULT(''),
		Ma_Kho VARCHAR(50) NOT NULL DEFAULT(''),
		Ma_Kho2 VARCHAR(50) NOT NULL DEFAULT(''),
		Ton_Dau MONEY NOT NULL DEFAULT(0), Du_Dau MONEY NOT NULL DEFAULT(0), Du_Dau_Nt MONEY NOT NULL DEFAULT(0),
		SL_Nhap_TB MONEY NOT NULL DEFAULT(0), Tien_Nhap_TB MONEY NOT NULL DEFAULT(0), Tien_Nhap_TB_Nt MONEY NOT NULL DEFAULT(0),
		SL_Nhap_DC MONEY NOT NULL DEFAULT(0), Tien_Nhap_DC MONEY NOT NULL DEFAULT(0), Tien_Nhap_DC_Nt MONEY NOT NULL DEFAULT(0),
		SL_Xuat_TB MONEY NOT NULL DEFAULT(0), Tien_Xuat_TB MONEY NOT NULL DEFAULT(0), Tien_Xuat_TB_Nt MONEY NOT NULL DEFAULT(0),
		SL_Xuat_DD MONEY NOT NULL DEFAULT(0), Tien_Xuat_DD MONEY NOT NULL DEFAULT(0), Tien_Xuat_DD_Nt MONEY NOT NULL DEFAULT(0),
		SL_Nhap MONEY NOT NULL DEFAULT(0), Tien_Nhap MONEY NOT NULL DEFAULT(0), Tien_Nhap_Nt MONEY NOT NULL DEFAULT(0),
		SL_Xuat MONEY NOT NULL DEFAULT(0), Tien_Xuat MONEY NOT NULL DEFAULT(0), Tien_Xuat_Nt MONEY NOT NULL DEFAULT(0),
		Ton_Cuoi MONEY NOT NULL DEFAULT(0), Du_Cuoi MONEY NOT NULL DEFAULT(0), Du_Cuoi_Nt MONEY NOT NULL DEFAULT(0),
		Gia_Tb NUMERIC(28, 10) NOT NULL DEFAULT(0), Gia_Tb_Nt NUMERIC(28, 10) NOT NULL DEFAULT(0),
		Tien_Tb NUMERIC(28, 10) NOT NULL DEFAULT(0), Tien_Tb_Nt NUMERIC(28, 10) NOT NULL DEFAULT(0)
	)

	CREATE INDEX Ma_Vt ON #T_TongHopNXT(Ma_Vt)
	CREATE INDEX Ma_Kho ON #T_TongHopNXT(Ma_Kho)
	CREATE INDEX Ma_Kho2 ON #T_TongHopNXT(Ma_Kho2)
	
	--KIỂM TRA LẤY TẤT CẢ CHỨNG TỪ TRONG THẺ KHO
	--SELECT DISTINCT Ma_Kho FROM #T_TheKho 

	--Tạo cột tham số
	SELECT @_Ma_Kho = MIN(Ma_Kho) FROM #T_TheKho WHERE Ma_Kho <> '' AND So_Luong <> 0
	WHILE @_Ma_Kho IS NOT NULL
	BEGIN
		SET @_Index = @_Index + 1
		
		SET @_SQLExec = 'ALTER TABLE #T_TongHopNXT ADD Col' + LTRIM(STR(@_Index)) + ' NUMERIC(28, 10) NOT NULL DEFAULT(0)'
		EXEC(@_SQLExec)

		SELECT @_Ma_Kho = MIN(Ma_Kho) FROM #T_TheKho WHERE Ma_Kho <> '' AND So_Luong <> 0 AND Ma_Kho > @_Ma_Kho
	END
	SET @_SQLExec = 'ALTER TABLE #T_TongHopNXT ADD Col' + LTRIM(STR(@_Index + 1)) + ' NUMERIC(28, 10) NOT NULL DEFAULT(0)'
	EXEC(@_SQLExec)
	EXEC('ALTER TABLE #T_TongHopNXT ADD Col0 NUMERIC(28, 10) NOT NULL DEFAULT(0)')

	SELECT DISTINCT Ma_Vt, MAX(Ma_KhoN) AS Ma_KhoN 
		INTO #T_TheKhoGv
		FROM #T_TheKho 
		WHERE Ma_Vt <> '' AND Ma_Kho <> '' AND Auto_Cost = 1 AND (Loai IN ('1-NHAP_DC', '2-XUAT_TB'))
		GROUP BY Ma_Vt
		ORDER BY Ma_KhoN

	SELECT @_Ma_Vt = MIN(Ma_Vt) FROM #T_TheKhoGv
	
	
	WHILE @_Ma_Vt IS NOT NULL
	BEGIN

		/*13/9/2011: Chưa áp dụng được đoạn này, phải tính giá vốn 2 lần
		--Cập nhật lại giá nhập do Nhập lắp ráp từ những vật tư khác: làm cơ sở để tính giá vốn mặt hàng đó
		IF EXISTS(SELECT * FROM #T_TheKho WHERE Ma_Ct = 'LR' AND Ma_Vt = @_Ma_Vt AND Loai_Ct = 1)
			UPDATE T1 SET Tien = T2.Tien, Tien_Nt = T2.Tien_Nt 
				FROM #T_TheKho T1 JOIN (SELECT * FROM dbo.vw_TheKho WHERE Ma_Ct = 'LR' AND Loai_Ct = 1) T2 ON T1.Stt = T2.Stt AND T1.Stt0 = T2.Stt0
				WHERE T1.Ma_Vt = @_Ma_Vt
		*/

		DELETE FROM #T_TongHopNXT

		INSERT INTO #T_TongHopNXT (Ma_Vt, Ma_Kho, Ma_Kho2, Stt, Ton_Dau, Du_Dau, Du_Dau_Nt, SL_Nhap_TB, Tien_Nhap_TB, Tien_Nhap_TB_Nt, 
				SL_Nhap_DC, Tien_Nhap_DC, Tien_Nhap_DC_Nt, SL_Xuat_TB, Tien_Xuat_TB, Tien_Xuat_TB_Nt, SL_Xuat_DD, Tien_Xuat_DD, Tien_Xuat_DD_Nt,
				SL_Nhap, Tien_Nhap, Tien_Nhap_Nt, SL_Xuat, Tien_Xuat, Tien_Xuat_Nt, Ton_Cuoi, Du_Cuoi, Du_Cuoi_Nt, Gia_Tb, Gia_Tb_Nt, Tien_Tb, Tien_Tb_Nt)
			SELECT Ma_Vt, Ma_Kho, CAST('' AS VARCHAR(20)) AS Ma_Kho2,
					(ROW_NUMBER() OVER(ORDER BY Ma_Kho)) AS Stt,
					ISNULL(SUM(CASE WHEN Loai = '0-DK' THEN So_Luong ELSE 0 END), 0) AS Ton_Dau, --Dau ky
					ISNULL(SUM(CASE WHEN Loai = '0-DK' THEN Tien ELSE 0 END), 0) AS Du_Dau,
					ISNULL(SUM(CASE WHEN Loai = '0-DK' THEN Tien_Nt ELSE 0 END), 0) AS Du_Dau_Nt,
					ISNULL(SUM(CASE WHEN Loai = '1-NHAP_TB' THEN So_Luong ELSE 0 END), 0) AS SL_Nhap_TB, --Nhap trong ky
					ISNULL(SUM(CASE WHEN Loai = '1-NHAP_TB' THEN Tien ELSE 0 END), 0) AS Tien_Nhap_TB,
					ISNULL(SUM(CASE WHEN Loai = '1-NHAP_TB' THEN Tien_Nt ELSE 0 END), 0) AS Tien_Nhap_TB_Nt,
					ISNULL(SUM(CASE WHEN Loai = '1-NHAP_DC' THEN So_Luong ELSE 0 END), 0) AS SL_Nhap_DC, --Nhap ?i?u chuy?n trong ky
					ISNULL(SUM(CASE WHEN Loai = '1-NHAP_DC' THEN Tien ELSE 0 END), 0) AS Tien_Nhap_DC,
					ISNULL(SUM(CASE WHEN Loai = '1-NHAP_DC' THEN Tien_Nt ELSE 0 END), 0) AS Tien_Nhap_DC_Nt,
					ISNULL(SUM(CASE WHEN Loai = '2-XUAT_TB' THEN So_Luong ELSE 0 END), 0) AS SL_Xuat_TB, --Xuat trong ky
					ISNULL(SUM(CASE WHEN Loai = '2-XUAT_TB' THEN Tien ELSE 0 END), 0) AS Tien_Xuat_TB,
					ISNULL(SUM(CASE WHEN Loai = '2-XUAT_TB' THEN Tien_Nt ELSE 0 END), 0) AS Tien_Xuat_TB_Nt,
					ISNULL(SUM(CASE WHEN Loai = '2-XUAT_DD' THEN So_Luong ELSE 0 END), 0) AS SL_Xuat_DD, --Xuat ?ích danh trong ky
					ISNULL(SUM(CASE WHEN Loai = '2-XUAT_DD' THEN Tien ELSE 0 END), 0) AS Tien_Xuat_DD,
					ISNULL(SUM(CASE WHEN Loai = '2-XUAT_DD' THEN Tien_Nt ELSE 0 END), 0) AS Tien_Xuat_DD_Nt,
					CAST(0 AS MONEY) AS SL_Nhap, CAST(0 AS MONEY) AS Tien_Nhap, CAST(0 AS MONEY) AS Tien_Nhap_Nt,
					CAST(0 AS MONEY) AS SL_Xuat, CAST(0 AS MONEY) AS Tien_Xuat, CAST(0 AS MONEY) AS Tien_Xuat_Nt,
					CAST(0 AS MONEY) AS Ton_Cuoi, CAST(0 AS MONEY) AS Du_Cuoi, CAST(0 AS MONEY) AS Du_Cuoi_Nt,
					CAST(0 AS NUMERIC(28, 10)) AS Gia_Tb, CAST(0 AS NUMERIC(28, 10)) AS Gia_Tb_Nt,
					CAST(0 AS MONEY) AS Tien_Tb, CAST(0 AS MONEY) AS Tien_Tb_Nt
				FROM #T_TheKho
				WHERE Ma_Vt = @_Ma_Vt 
				GROUP BY Ma_Vt, Ma_Kho
				ORDER BY Ma_Vt, Ma_Kho

		UPDATE #T_TongHopNXT SET 
				SL_Nhap = SL_Nhap_TB + SL_Nhap_DC,
				Tien_Nhap = Tien_Nhap_TB + Tien_Nhap_DC,
				Tien_Nhap_Nt = Tien_Nhap_TB_Nt + Tien_Nhap_DC_Nt,
				SL_Xuat = SL_Xuat_TB + SL_Xuat_DD,
				Tien_Xuat = Tien_Xuat_TB + Tien_Xuat_DD,
				Tien_Xuat_Nt = Tien_Xuat_TB_Nt + Tien_Xuat_DD_Nt

		UPDATE #T_TongHopNXT SET 
				Ton_Cuoi = Ton_Dau + SL_Nhap - SL_Xuat,
				Du_Cuoi = Du_Dau + Tien_Nhap - Tien_Xuat,
				Du_Cuoi_Nt = Du_Dau_Nt + Tien_Nhap_Nt - Tien_Xuat_Nt

		DELETE #T_TongHopNXT 
			WHERE ABS(Ton_Dau) + ABS(SL_Nhap) + ABS(SL_Xuat) = 0

		--Xóa đi những kho hàng không thể tính giá vốn đc
		SET @_Stt0 = 0
		DELETE #T_TongHopNXT WHERE SL_Xuat_TB = 0 AND SL_Nhap_DC = 0
		UPDATE #T_TongHopNXT SET @_Stt0 = @_Stt0 + 1, Stt = @_Stt0, Ma_Kho2 = 'Col' + LTRIM(STR(@_Stt0))

		IF EXISTS (SELECT Ma_Vt FROM #T_TongHopNXT WHERE SL_Nhap_DC <> 0)
		BEGIN -- Giai he với truong hop co dieu chuyen kho

			--Tinh so luong nhap dieu chuyen
			SELECT @_i = COUNT(Ma_Kho + Ma_Kho2) FROM #T_TongHopNXT
			
			SET @_SQLExec = '
				UPDATE #T_TongHopNXT SET ' + 'Col' + LTRIM(STR(@_i + 1)) + ' = Du_Dau + Tien_Nhap_TB - Tien_Xuat_DD'

			EXEC (@_SQLExec)
			
			--Add du lieu dieu chuyen vao bang nhap xuat ton
			SELECT @_strPivotUpdate = '', @_strPivotSelect = '', @_strPivotFor = ''
			SELECT @_Stt0 = MIN(Stt) FROM #T_TongHopNXT
			WHILE @_Stt0 IS NOT NULL
			BEGIN
				SELECT @_Ma_Kho = Ma_Kho, @_Ma_Kho2 = Ma_Kho2 FROM #T_TongHopNXT WHERE Stt = @_Stt0

				SET @_SQLExec = 'UPDATE #T_TongHopNXT SET ' + @_Ma_Kho2 + ' = Ton_Cuoi + SL_Xuat_TB WHERE Ma_Kho2 = ''' + @_Ma_Kho2 + ''''
				EXEC(@_SQLExec)

				SET @_strPivotUpdate = @_strPivotUpdate + CASE WHEN @_strPivotUpdate = '' THEN '' ELSE ',' END + 
						'T1.[' + @_Ma_Kho2 + '] = CASE WHEN Ma_Kho2 = ''' + @_Ma_Kho2 + ''' THEN T1.[' + @_Ma_Kho2 + '] ELSE T2.[' + @_Ma_Kho2 + '] END'

				SET @_strPivotSelect = @_strPivotSelect + CASE WHEN @_strPivotSelect = '' THEN '' ELSE ',' END + 
						'ISNULL([' + @_Ma_Kho2 + '], 0) AS [' + @_Ma_Kho2 + ']'

				SET @_strPivotFor = @_strPivotFor + CASE WHEN @_strPivotFor = '' THEN '' ELSE ',' END + 
						 '[' + @_Ma_Kho2 + ']'
				
				SELECT @_Stt0 = MIN(Stt) FROM #T_TongHopNXT WHERE Stt > @_Stt0
			END

			SET @_SQLExec = '
				UPDATE T1 SET ' + @_strPivotUpdate + '
					FROM #T_TongHopNXT T1 JOIN 
						(
						SELECT Ma_Kho, ' + @_strPivotSelect + ' 
							FROM 
								(SELECT T2.Ma_Kho2 AS Ma_Kho, T3.Ma_Kho2 AS Ma_KhoX, -T1.So_Luong AS So_Luong
									FROM #T_TheKho T1 JOIN #T_TongHopNXT T2 ON T1.Ma_Kho = T2.Ma_Kho
														JOIN #T_TongHopNXT T3 ON T1.Ma_KhoX = T3.Ma_Kho
									WHERE T1.Loai = ''1-NHAP_DC'' AND T1.Ma_Vt = ''' + @_Ma_Vt + '''
								) TheKho
							PIVOT
							(
								--ISNULL(SUM(So_Luong), 0)
								SUM(So_Luong)
								FOR Ma_KhoX IN (' + @_strPivotFor + ')
							) pvt
						) T2 ON T1.Ma_Kho2 = T2.Ma_Kho'

			EXEC(@_SQLExec)
			
			--SELECT * FROM #T_TongHopNXT

			--Van tinh gia von voi ton cuoi am
--			IF (SELECT SUM(Ton_Cuoi) FROM #T_TongHopNXT) >= 0
				EXEC sp_GiaiHePT '#T_TongHopNXT'
			
			--SELECT * FROM #T_TongHopNXT
			
			UPDATE #T_TongHopNXT SET Gia_Tb = Col0
		END
		ELSE
		BEGIN -- Tinh gia von truc tiep
			UPDATE #T_TongHopNXT SET
					Gia_Tb = CAST((Du_Dau + Tien_Nhap_TB + Tien_Nhap_DC - Tien_Xuat_DD) AS NUMERIC(28, 10)) / CAST((Ton_Cuoi + SL_Xuat_TB) AS NUMERIC(28, 10))
				WHERE Ton_Cuoi + SL_Xuat_TB <> 0
		END

		--select * from #T_TongHopNXT 

		--Cap nhat vao the kho
		UPDATE #T_TheKho SET 
				Gia = T2.Gia_Tb, 
				Gia_Nt = T2.Gia_Tb,
				Tien = ROUND(So_Luong * T2.Gia_Tb, 0),
				Tien_Nt = ROUND(So_Luong * T2.Gia_Tb, 2)
			FROM #T_TheKho T1 JOIN #T_TongHopNXT T2 ON T1.Ma_Vt = T2.Ma_Vt AND T1.Ma_KhoX = T2.Ma_Kho
			WHERE T1.Auto_Cost = 1 AND T1.Loai = '1-NHAP_DC'

		UPDATE #T_TheKho SET 
				Gia = T2.Gia_Tb, 
				Gia_Nt = T2.Gia_Tb,
				Tien = ROUND(So_Luong * T2.Gia_Tb, 0),
				Tien_Nt = ROUND(So_Luong * T2.Gia_Tb, 2)
			FROM #T_TheKho T1 JOIN #T_TongHopNXT T2 ON T1.Ma_Vt = T2.Ma_Vt AND T1.Ma_Kho = T2.Ma_Kho
			WHERE T1.Auto_Cost = 1 AND T1.Loai = '2-XUAT_TB'
		
		--Dieu chinh ton cuoi
		SELECT @_Stt_Duyet = MIN(Stt) FROM #T_TongHopNXT
		WHILE @_Stt_Duyet IS NOT NULL
		BEGIN
			SELECT @_Ma_Vt = Ma_Vt, @_Ma_Kho = Ma_Kho, @_Ma_KhoN = '', @_Gia_Tb = Gia_Tb FROM #T_TongHopNXT WHERE Stt = @_Stt_Duyet
		
			SELECT	@_Tien_Nhap_Dc = ISNULL(SUM(CASE WHEN Loai = '1-NHAP_DC' THEN Tien ELSE 0 END), 0),
					@_Tien_Xuat_Tb = ISNULL(SUM(CASE WHEN Loai = '2-XUAT_TB' THEN Tien ELSE 0 END), 0)
				FROM #T_TheKho
				WHERE Ma_Vt = @_Ma_Vt AND Ma_Kho = @_Ma_Kho

			UPDATE #T_TongHopNXT SET 
					Tien_Nhap_Dc = @_Tien_Nhap_Dc,
					Tien_Xuat_Tb = @_Tien_Xuat_Tb
				WHERE Ma_Vt = @_Ma_Vt AND Ma_Kho = @_Ma_Kho

			UPDATE #T_TongHopNXT SET 
					@_Ton_Cuoi = Ton_Cuoi,
					Du_Cuoi = CASE WHEN @_Ton_Cuoi = 0 THEN 0 ELSE ROUND(Ton_Cuoi * Gia_Tb, 0) END,
					Du_Cuoi_Nt = CASE WHEN @_Ton_Cuoi = 0 THEN 0 ELSE ROUND(Ton_Cuoi * Gia_Tb, 2) END
				WHERE Ma_Vt = @_Ma_Vt AND Ma_Kho = @_Ma_Kho

			IF (@_SysMa_Tte = 'VND')
				UPDATE #T_TongHopNXT SET 
						Du_Cuoi_Nt = Du_Cuoi
					WHERE Ma_Vt = @_Ma_Vt AND Ma_Kho = @_Ma_Kho

			SELECT	@_Tien_CL = Du_Cuoi - (Du_Dau + Tien_Nhap_Tb + Tien_Nhap_Dc - Tien_Xuat_TB - Tien_Xuat_DD),
					@_Tien_CL_Nt = Du_Cuoi_Nt - (Du_Dau_Nt + Tien_Nhap_Tb_Nt + Tien_Nhap_Dc_Nt - Tien_Xuat_TB_Nt - Tien_Xuat_DD_Nt)
				FROM #T_TongHopNXT
				WHERE Ma_Vt = @_Ma_Vt AND Ma_Kho = @_Ma_Kho

			--IF (@_Tien_CL <> 0)
			IF (@_Tien_CL <> 0 AND @_Ton_Cuoi = 0) --Hải sửa: chỉ điều chỉnh khi nào hàng không còn tồn: nhằm giảm bớt mặt hàng điều chỉnh
			BEGIN
				IF (@_SysMa_Tte = 'VND')
					SET @_Tien_CL_Nt = @_Tien_CL

				--Điều chỉnh giá vốn vào phiếu xuất Max
				--Điều chỉnh trong nội tại kho hiện tại
				IF (EXISTS (SELECT * FROM #T_TheKho 
								WHERE Ma_Vt = @_Ma_Vt AND Ma_Kho = @_Ma_Kho AND Auto_Cost = 1 AND Loai IN ('2-XUAT_TB') AND Is_XDC = 0))
				BEGIN
					SELECT TOP 1 @_SttMax = Stt, @_Stt0 = Stt0 
						FROM #T_TheKho 
						WHERE So_Luong IN (
							SELECT MAX(So_Luong) 
								FROM #T_TheKho 
								WHERE Ma_Vt = @_Ma_Vt AND Ma_Kho = @_Ma_Kho AND Auto_Cost = 1 AND Loai IN ('1-NHAP_DC--', '2-XUAT_TB') AND Is_XDC = 0)
									AND( Ma_Vt = @_Ma_Vt AND Ma_Kho = @_Ma_Kho AND Auto_Cost = 1 AND Loai IN ('1-NHAP_DC--', '2-XUAT_TB'))
									AND Is_XDC = 0

					UPDATE #T_TheKho SET 
							Tien = Tien - @_Tien_CL,--HuanDS: Sua dau "+" thanh dau "-"
							Tien_Nt = Tien_Nt - @_Tien_CL_Nt
						WHERE Stt = @_SttMax AND Stt0 = @_Stt0 AND Ma_Vt = @_Ma_Vt AND Ma_Kho = @_Ma_Kho AND Auto_Cost = 1 AND Loai IN ('--1-NHAP_DC', '2-XUAT_TB')
							
					--IF @_Ma_Kho = '06HG' AND (@_Ma_Vt = 'B35410220' OR @_Ma_Vt = 'B36110100')
					--	SELECT 'Dieu chinh vao 1:', @_Ma_Kho, @_Ma_Vt, @_SttMax, @_Stt0
				END
				ELSE --Điều chỉnh sang phiếu xuất điều chuyển sang kho khác
				BEGIN
					SELECT TOP 1 @_SttMax = Stt, @_Stt0 = Stt0, @_Ma_KhoN = Ma_Kho_XDC_Den 
						FROM #T_TheKho 
						WHERE So_Luong IN (
							SELECT MAX(So_Luong) 
								FROM #T_TheKho 
								WHERE Ma_Vt = @_Ma_Vt AND Ma_Kho = @_Ma_Kho AND Auto_Cost = 1 AND Loai IN ('2-XUAT_TB') AND Ma_Kho_XDC_Den IN (SELECT Ma_Kho FROM #T_TongHopNXT WHERE Stt > @_Stt_Duyet))
									AND( Ma_Vt = @_Ma_Vt AND Ma_Kho = @_Ma_Kho AND Auto_Cost = 1 AND Loai IN ('2-XUAT_TB'))
									AND Ma_Kho_XDC_Den IN (SELECT Ma_Kho FROM #T_TongHopNXT WHERE Stt > @_Stt_Duyet)

					IF (@_SttMax <> NULL)
					BEGIN
						UPDATE #T_TheKho SET 
								Tien = Tien - @_Tien_CL,--HuanDS: Sua dau "+" thanh dau "-"
								Tien_Nt = Tien_Nt - @_Tien_CL_Nt
							WHERE Stt = @_SttMax AND Stt0 = @_Stt0 AND Ma_Vt = @_Ma_Vt AND Ma_Kho = @_Ma_Kho AND Auto_Cost = 1 AND Loai IN ('2-XUAT_TB')

						IF (@_Ma_KhoN <> '' AND @_Ma_KhoN IS NOT NULL)
						BEGIN
							UPDATE #T_TheKho SET 
									Tien = Tien - @_Tien_CL,
									Tien_Nt = Tien_Nt - @_Tien_CL_Nt
								WHERE Stt = @_SttMax AND Stt0 = @_Stt0 AND Ma_Vt = @_Ma_Vt AND Ma_Kho = @_Ma_KhoN AND Auto_Cost = 1 AND Loai IN ('1-NHAP_DC')

							--IF @_Ma_Kho = '06HG' AND (@_Ma_Vt = 'B35410220' OR @_Ma_Vt = 'B36110100')
							--	SELECT 'Dieu chinh vao 2:', @_Ma_Kho, @_Ma_Vt, @_SttMax, @_Stt0
						END
					END
					ELSE --Cho phép Option: Điều chỉnh giá vốn ra ngoài
					BEGIN
						INSERT #T_CtNx(Ma_Vt, Ma_Kho, Tien, Tien_Nt)
							VALUES(@_Ma_Vt, @_Ma_Kho, -@_Tien_CL, -@_Tien_CL_Nt)

						--IF @_Ma_Kho = '06HG' AND (@_Ma_Vt = 'B35410220' OR @_Ma_Vt = 'B36110100')
						--	SELECT 'Dieu chinh ra ngoai 3:', @_Ma_Kho, @_Ma_Vt, @_Tien_CL

					END
				END
			END

			SELECT @_Stt_Duyet = MIN(Stt) FROM #T_TongHopNXT WHERE Stt > @_Stt_Duyet
		END
		
		SELECT @_Ma_Vt = MIN(Ma_Vt) FROM #T_TheKhoGv WHERE Ma_Vt > @_Ma_Vt
	END
	--CHECK XEM CÒN chênh lệch tiền hay ko
	--SELECT * FROM #T_CtNx

	-------------------11/6/2026 BẰNG TẠM RÀO LẠI
	----Xóa đi những phiếu cũ
	--DECLARE @_Stt_Kho VARCHAR(10),
	--		@_Stt VARCHAR(15)

	--SELECT @_Ma_Kho = MIN(Ma_Kho) FROM #T_TheKho
	--WHILE @_Ma_Kho IS NOT NULL
	--BEGIN

	--	IF @Ma_Kho <> '' AND @_Ma_Kho <> @Ma_Kho
	--	BEGIN
	--		SELECT @_Ma_Kho = MIN(Ma_Kho) FROM #T_TheKho WHERE Ma_Kho > @_Ma_Kho
	--		CONTINUE
	--	END

	--	IF @Ma_Kho_List <> '' AND CHARINDEX(@_Ma_Kho, @Ma_Kho_List) = 0
	--	BEGIN
	--		SELECT @_Ma_Kho = MIN(Ma_Kho) FROM #T_TheKho WHERE Ma_Kho > @_Ma_Kho
	--		CONTINUE
	--	END
			
	--	SET @_Stt_Kho = (SELECT	Stt FROM R81DMKHO WHERE Ma_Kho = @_Ma_Kho)
	--	SET @_Stt = @_Stt_GVON + dbo.fn_PADL(@_Stt_Kho, 2, '0')

	--	EXECUTE ('DELETE R05CTNX WHERE Stt = ''' + @_Stt + '''')
	--	EXECUTE ('DELETE R80PH WHERE Stt = ''' + @_Stt + '''')

	--	SELECT @_Ma_Kho = MIN(Ma_Kho) FROM #T_TheKho WHERE Ma_Kho > @_Ma_Kho
	--END
	----Xóa xong

	--IF (EXISTS (SELECT * FROM #T_CtNx))
	--BEGIN
	--	UPDATE #T_CtNx SET 
	--			Ma_Ct = 'PX', 
	--			Ngay_Ct = @Ngay_Ct2, 
	--			So_Ct = 'DCGVON' + STR(MONTH(@Ngay_Ct2), 2) + '/' + STR(YEAR(@Ngay_Ct2), 4), 
	--			Dien_Giai = N'Điều chỉnh giá vốn tự động' + STR(MONTH(@Ngay_Ct2), 2) + '/' + STR(YEAR(@Ngay_Ct2), 4), 
	--			Ma_Tte = @_SysMa_Tte, Ty_Gia = 1,
	--			Auto_Cost = 0
		
	--	--Cập nhật Tk_No, Tk_Co, Dvt
	--	UPDATE #T_CtNx SET 
	--			Tk_No = T2.Tk_GVon,
	--			Tk_Co = T2.Tk_VTu,
	--			Dvt = T2.Dvt
	--		FROM #T_CtNx T1 JOIN R81DmVt T2 ON T1.Ma_Vt = T2.Ma_Vt

	--	IF (COL_LENGTH('R81DmKho', 'Tk_Vtu') IS NOT NULL)
	--		UPDATE #T_CtNx SET Tk_Co = T2.Tk_Vtu 
	--			FROM #T_CtNx T1 JOIN R81DmKho T2 ON T1.Ma_Kho = T2.Ma_Kho AND T2.Tk_Vtu <> ''
		
	--	IF (COL_LENGTH('R81DmKho', 'Tk_Gvon') IS NOT NULL)
	--		UPDATE #T_CtNx SET Tk_Co = T2.Tk_Gvon 
	--			FROM #T_CtNx T1 JOIN R81DmKho T2 ON T1.Ma_Kho = T2.Ma_Kho AND T2.Tk_Gvon <> ''		

	--	--Đánh Stt: Tạo PX cho riêng từng kho
	--	UPDATE #T_CtNx SET Stt = @_Stt_GVON + dbo.fn_PADL(STR(Stt_Kho, 2), 2, '0')
	--		FROM #T_CtNx T1 JOIN (SELECT Ma_Kho, ROW_NUMBER() OVER (ORDER BY Ma_Kho) AS Stt_Kho FROM R81DmKho) T2 ON T1.Ma_Kho = T2.Ma_Kho

	--	--DECLARE @_Stt_Kho VARCHAR(10),
	--	--		@_Stt VARCHAR(15)

	--	SELECT @_Ma_Kho = MIN(Ma_Kho) FROM #T_CtNx
	--	WHILE @_Ma_Kho IS NOT NULL
	--	BEGIN

	--		IF @Ma_Kho <> '' AND @_Ma_Kho <> @Ma_Kho
	--		BEGIN
	--			SELECT @_Ma_Kho = MIN(Ma_Kho) FROM #T_CtNx WHERE Ma_Kho > @_Ma_Kho
	--			CONTINUE
	--		END

	--		IF @Ma_Kho_List <> '' AND CHARINDEX(@_Ma_Kho, @Ma_Kho_List) = 0
	--		BEGIN
	--			SELECT @_Ma_Kho = MIN(Ma_Kho) FROM #T_CtNx WHERE Ma_Kho > @_Ma_Kho
	--			CONTINUE
	--		END
			
	--		SET @_Stt_Kho = (SELECT	Stt FROM R81DMKHO WHERE Ma_Kho = @_Ma_Kho)
	--		SET @_Stt = @_Stt_GVON + dbo.fn_PADL(@_Stt_Kho, 2, '0')

	--		EXECUTE ('DELETE R05CTNX WHERE Stt = ''' + @_Stt + '''')
	--		EXECUTE ('DELETE R80PH WHERE Stt = ''' + @_Stt + '''')

	--		SET @_Stt0 = 0
	--		UPDATE #T_CtNx SET 
	--				@_Stt0 = @_Stt0 + 1, 
	--				Stt0 = @_Stt0
	--		-- TẠM KHÔNG TÍNH TỰ ĐỘNG
	--		--INSERT R80PH (Stt, Ma_Ct, Ngay_Ct, So_Ct, Dien_Giai, TTien_Nt0, TTien0, Ma_DvCs)
	--		--	SELECT @_Stt, 'PX', @Ngay_Ct2, 'GVON', N'Phiếu xuất tự động' + dbo.fn_DTOS(@Ngay_Ct2), ISNULL(SUM(Tien_Nt), 0), ISNULL(SUM(Tien), 0), @Ma_DvCs
	--		--		FROM #T_CtNx
	--		--		WHERE Ma_Kho = @_Ma_Kho
	--		--		GROUP BY Stt
			
	--		--INSERT R05CTNX (Stt, Stt0, Ma_Ct, Ngay_Ct, So_Ct, Ma_Tte, Ty_Gia, Dien_Giai, Tk_No, Tk_Co, Ma_Dt, Ma_Vt_Sp, Ma_Kho, Ma_Vt,  Dvt,
	--		--					Tien_Nt9, Tien, Tien_Nt, Auto_Cost, Is_DieuChinh, Ma_DvCs)
	--		--	SELECT @_Stt, Stt0, 'PX', @Ngay_Ct2, 'GVON', @_SysMa_Tte, 1, N'Phiếu xuất tự động ' + dbo.fn_DTOS(@Ngay_Ct2), Tk_No, Tk_Co, '', '', Ma_Kho, Ma_Vt, Dvt,
	--		--				Tien_Nt, Tien, Tien_Nt, 0, 1, @Ma_DvCs
	--		--			FROM #T_CtNx
	--		--			WHERE Ma_Kho = @_Ma_Kho

	--		SELECT @_Ma_Kho = MIN(Ma_Kho) FROM #T_CtNx WHERE Ma_Kho > @_Ma_Kho
	--	END
	--END
	---------------------------------------
	
	--Cap nhat vao chung tu goc
	IF @Ma_Vt <> ''
		DELETE FROM #T_TheKho WHERE Ma_Vt <> @Ma_Vt

	IF @Ma_Kho <> ''
		DELETE FROM #T_TheKho WHERE Ma_Kho <> @Ma_Kho
	
	IF @Ma_Kho_List <> ''
		DELETE FROM #T_TheKho WHERE Ma_Kho not in 
			(select String from dbo.fn_Split(@Ma_Kho_List)) OPTION (MAXRECURSION 1000)
	
	--ĐIỀU CHỈNH TRƯỜNG HỢP HẾT LƯỢNG CÒN TIỀN
	IF (EXISTS (SELECT * FROM #T_CtNx))
	BEGIN
		
		UPDATE T1 SET TIEN = T1.Tien - t2.Tien, Tien_Nt = T1.Tien_Nt - t2.Tien_Nt
			FROM #T_TheKho T1 JOIN #T_CtNx T2 ON T1.Ma_Kho = T2.Ma_Kho
			AND T1.Ma_Vt = T2.Ma_Vt AND 
			t1.Stt = (SELECT MAX(Stt) FROM #T_TheKho WHERE Auto_Cost = 1 AND Loai IN ('1-NHAP_DC--', '2-XUAT_TB'))
		
	END

	BEGIN TRANSACTION T_TranGiaVon
	BEGIN TRY
		
		ALTER TABLE R02CtNM DISABLE TRIGGER ALL
		ALTER TABLE R04CtHD DISABLE TRIGGER ALL
		ALTER TABLE R05CtNX DISABLE TRIGGER ALL
		ALTER TABLE R80PH DISABLE TRIGGER ALL

		SELECT @_Ma_Ct = MIN(Ma_Ct) FROM #T_TheKho WHERE Auto_Cost = 1 AND Loai IN ('1-NHAP_DC--', '2-XUAT_TB')
		WHILE @_Ma_Ct IS NOT NULL
		BEGIN
			SELECT @_Table_Ct = Table_Ct, @_Is_HD = Is_HD FROM R00DmCt WHERE Ma_Ct = @_Ma_Ct
			
			IF @_Is_HD = 1
				SET @_SQLExec = '
					UPDATE ' + @_Table_Ct + ' SET 
							Gia = T2.Gia, Gia_Nt = T2.Gia_Nt,
							Tien = T2.Tien, Tien_Nt = T2.Tien_Nt
						FROM ' + @_Table_Ct + ' T1 INNER JOIN #T_TheKho T2 
						ON	T1.Stt = T2.Stt AND T1.Stt0 = T2.Stt0 AND T1.Ma_Vt = T2.Ma_Vt AND T1.Ma_Kho = T2.Ma_Kho						
						WHERE T2.Auto_Cost = 1 AND T2.Loai IN (''1-NHAP_DC--'', ''2-XUAT_TB'')'
		
			ELSE IF @_Is_HD = 0
				SET @_SQLExec = '
					UPDATE ' + @_Table_Ct + ' SET 
							Gia = T2.Gia, Gia_Nt = T2.Gia_Nt, Gia_Nt9 = T2.Gia_Nt,
							Tien = T2.Tien, Tien_Nt = T2.Tien_Nt, Tien_Nt9 = T2.Tien_Nt
						FROM ' + @_Table_Ct + ' T1 INNER JOIN #T_TheKho T2 
							ON	T1.Stt = T2.Stt AND T1.Stt0 = T2.Stt0 AND T1.Ma_Vt = T2.Ma_Vt AND T1.Ma_Kho = T2.Ma_Kho
						WHERE T2.Auto_Cost = 1 AND T2.Loai IN (''1-NHAP_DC--'', ''2-XUAT_TB'')'

			EXEC(@_SQLExec)

			SELECT @_Ma_Ct = MIN(Ma_Ct) FROM #T_TheKho WHERE Auto_Cost = 1 AND Loai IN ('1-NHAP_DC--', '2-XUAT_TB') AND Ma_Ct > @_Ma_Ct
		END

		SELECT * FROM #T_TheKho

		UPDATE R80PH SET	
				TTien0 = T2.Tien,
				TTien_Nt0 = T2.Tien_Nt
			FROM R80PH T1 JOIN
				(SELECT Stt, ISNULL(SUM(Tien), 0) AS Tien, ISNULL(SUM(Tien_Nt), 0) AS Tien_Nt 
					FROM R05CTNX
					WHERE Stt IN (SELECT Stt FROM #T_TheKho WHERE Loai IN ('1-NHAP_DC_', '2-XUAT_TB'))
					GROUP BY Stt) T2
			ON T1.Stt = T2.Stt

		
		--IF (OBJECT_ID('sp_ReUpdate_HanTt') IS NOT NULL) 
		--BEGIN
		--	IF EXISTS(SELECT * 
		--				FROM vw_TheKho T1 JOIN #T_TheKho T2 ON T1.Stt = T2.Stt AND T1.Stt0 = T2.Stt0 AND T2.Auto_Cost = 1
		--				WHERE  T1.Tk_No LIKE '131%' OR T1.Tk_Co LIKE '131%')
		--		EXEC sp_ReUpdate_HanTt @Ngay_Ct1, @Ngay_Ct2, '131', '', @Ma_DvCs

		--	IF EXISTS(SELECT * 
		--				FROM vw_TheKho T1 JOIN #T_TheKho T2 ON T1.Stt = T2.Stt AND T1.Stt0 = T2.Stt0 AND T2.Auto_Cost = 1
		--				WHERE  T1.Tk_No LIKE '331%' OR T1.Tk_Co LIKE '331%')
		--		EXEC sp_ReUpdate_HanTt @Ngay_Ct1, @Ngay_Ct2, '331', '', @Ma_DvCs
		--END

		--IF (OBJECT_ID('sp_ReUpdate_SoCaiThang') IS NOT NULL)
		--	EXEC sp_ReUpdate_SoCaiThang @Ngay_Ct1, @Ngay_Ct2, '', @Ma_DvCs

		--IF (OBJECT_ID('sp_ReUpdate_TheKhoThang') IS NOT NULL)
		--	EXEC sp_ReUpdate_TheKhoThang @Ngay_Ct1, @Ngay_Ct2, '', @Ma_Vt, @Ma_DvCs

		ALTER TABLE R02CtNM ENABLE TRIGGER ALL
		ALTER TABLE R04CtHD ENABLE TRIGGER ALL
		ALTER TABLE R05CtNX ENABLE TRIGGER ALL
		ALTER TABLE R80PH ENABLE TRIGGER ALL

		COMMIT TRANSACTION T_TranGiaVon
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION T_TranGiaVon

		DECLARE @ErrorMessage NVARCHAR(4000),
				@ErrorSeverity INT,
				@ErrorState INT

		SELECT	@ErrorMessage = ERROR_MESSAGE(),
				@ErrorSeverity = ERROR_SEVERITY(),
				@ErrorState = ERROR_STATE();
	    
		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH

END
go
EXEC sp_GiaBQTH '20260501', '20260531', @Ma_Kho = '', 
--@Ma_Kho_List = ',06CH,06CHNT1,06HCM2,06HGCT,06HS,06HSVL,06HTLD,06LKHCM1,06LKHCM2,06LKHCM5,
--06PHSDCT,06PHSDDT2,06PHSDVL1,06PNKGKG1,06PTNT1,06PTNT4,06PTNT8,06SLLA1,06SMCCT1,06SMCCT2,
--06SMCDT4,06SMCDT5,06SMCLA1,06SMCST1,06SMCTN1,06TD,06TDTG1,06THP,06TKCM1'
--@Ma_Kho_List ='051P2,051NT,051D2,051CT,052TMN,055POM1'
@Ma_Kho_List = '06BN,06CH,06CHBL1,06CHBL2,06CHCM,06CHCM1,06CHKG1,06CHLA1,06CHNT1,06CHTG1,
06CHTV1,06CHTV2,06CHVL1,06CHVL2,06CKTG,06CKTGAG1,06CKTGCM1,06CKTGCT1,06CKTGCT2,06CKTGST1,
06CL,06CNKK3,06CTN,06DT,06FICO,06HCM2,06HCM2AG1,06HCM2AG2,06HCM2AG3,06HCM2CM1,06HCM2CM2,
06HCM2CT1,06HCM2CT2,06HCM2CT3,06HCM2CT4,06HCM2CT5,06HCM2KG1,06HCM2KG2,06HCM2KG3,06HCM2LA2,
06HCM2LA3,06HCM2LA4,06HCM2LA5,06HCM2ST1,06HCM2ST2,06HCM3,06HCM4LA,06HCMLD,06HG,06HGBL,06HGCT,
06HGCT2,06HGPQ,06HOSA,06HOSA1,06HOSA10,06HOSA11,06HOSA12,06HOSA2,06HOSA3,06HOSA4,06HOSA5,
06HOSA6,06HOSA7,06HOSA8,06HOSA9,06HS,06HSVL,06HTLD,06HUTH,06HUTH1,06HUTH2,06HUTH3,06HUTH4,
06HUTH5,06INDECO,06KH,06LKDN10,06LKDN12,06LKDN13,06LKDN9,06LKHCM1,06LKHCM11,06LKHCM2,06LKHCM3,
06LKHCM4,06LKHCM5,06LKHCM6,06LKHCM7,06LKHCM8,06LTB,06MTG,06MTGDL,06MTGNT,06NAD,06NBAO,06PHG,
06PHSDAG,06PHSDCT,06PHSDDT1,06PHSDDT2,06PHSDVL1,06PHSDVL2,06PHSDVL3,06PNKGKG1,06PNKGKG2,
06PT,06PTBL1,06PTBT1,06PTNT1,06PTNT2,06PTNT3,06PTNT4,06PTNT5,06PTNT6,06PTNT7,06PTNT8,06PTNT9,
06PTTG1,06QTBL1,06QTDT2,06QTHCM1,06QTKG1,06QTKG2,06QTLA1,06QTST1,06QTVL1,06SIMCO,06SLHCM1,
06SLHCM2,06SLLA1,06SLTN,06SM,06SMCBC1,06SMCBR1,06SMCBTR1,06SMCBTR2,06SMCCM1,06SMCCM2,06SMCCT1,
06SMCCT2,06SMCDT1,06SMCDT2,06SMCDT3,06SMCDT4,06SMCDT5,06SMCDT6,06SMCDT7,06SMCKG1,06SMCLA1,
06SMCLA2,06SMCST1,06SMCTN1,06SMCVL1,06SMCVL2,06TD,06TDAG1,06TDBL1,06TDBT1,06TDBT2,06TDBT3,
06TDCT1,06TDCT3,06TDCT4,06TDCT5,06TDDT1,06TDDT2,06TDDT3,06TDKG1,06TDKG2,06TDKG3,06TDKG4,06TDLA1,
06TDTG1,06TDTV1,06TDTV2,06TDVL1,06TDVL2,06TH,06THP,06THPAG1,06THPBL1,06THPBT1,06THPCM1,06THPCT1,
06THPDN1,06THPHCM1,06THPLA1,06THPTG1,06THPTG2,06THPTG3,06TKCM1,06TKCM2,06TKCM3,06TLLD1,06TLLD2,
06TLLD3,06TONG1,06TP,06TP1,06TSCM1,06TT,06VA,06XTDN1,06XTNT1'

