USE [R50THEPMN3]
GO
/****** Object:  StoredProcedure [dbo].[sp_TonCuoiList]    Script Date: 12/6/2026 2:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--	EXEC sp_TonCuoiList_ '20191231', 'MA_VT = ''BD10021170''', '', 'A01'
alter PROCEDURE [dbo].[sp_TonCuoiList_GiaBQTT]
(
	@Ngay_Ct DATE = '',
	@Key NVARCHAR(4000) = '',
	@Table_Out VARCHAR(50),
	@Ma_DvCs VARCHAR(5)
)
--WITH ENCRYPTION
AS

	IF Object_Id('Tempdb..#T_TonCuoiList0') IS NOT NULL DROP TABLE #T_TonCuoiList0
	IF Object_Id('Tempdb..#T_TonCuoiList1') IS NOT NULL DROP TABLE #T_TonCuoiList1
	IF Object_Id('Tempdb..#T_TonCuoiListSum') IS NOT NULL DROP TABLE #T_TonCuoiListSum

	DECLARE @_Key NVARCHAR(4000),
			@_KeyCd NVARCHAR(4000),
			@_Nam INT, 
			@_Th_Bd_Ht INT, 
			@_Ngay_Ct1 DATE,
			@_Ngay_Ct2 DATE,
			@_Tong_Hop AS BIT

	SET @_Tong_Hop = (SELECT Tong_Hop FROM R00DMDVCS WHERE Ma_DvCs = @Ma_DvCs)
	SET @_Nam = YEAR(@Ngay_Ct) 
	SET @_Th_Bd_Ht = ISNULL((SELECT Th_Bd_Ht FROM R00NAM WHERE Ma_DvCs = @Ma_DvCs AND Nam = @_Nam), 1)

	SELECT	@_Ngay_Ct1 = dbo.fn_GetDate(@_Nam, @_Th_Bd_Ht, 1),
			@_Ngay_Ct2 = @Ngay_Ct 

	SELECT	@_Key = '(0 = 0)',
			@_KeyCd = '(0 = 0)'

	IF (@Key <> '')
		SELECT	@_Key = @_Key + ' AND (' + @Key + ')',
				@_KeyCd = @_KeyCd + ' AND (' + @Key + ')'
	
	IF @_Tong_Hop = 0
		SELECT	@_Key = @_Key + ' AND (Ma_DvCs = ''' + @Ma_DvCs + ''')',
				@_KeyCd = @_KeyCd + ' AND (Ma_DvCs = ''' + @Ma_DvCs + ''')'
	ELSE
		SELECT	@_Key = @_Key + ' AND (Ma_DvCs IN (SELECT Ma_DvCs FROM R00DMDVCS WHERE Tong_Hop = 0))',
				@_KeyCd = @_KeyCd + ' AND (Ma_DvCs IN (SELECT Ma_DvCs FROM R00DMDVCS WHERE Tong_Hop = 0))'
	
	--SET @_KeyCd = @_KeyCd + ' AND (Ngay_Ct = ''' + dbo.fn_DTOS(@_Ngay_Ct1) + ''')'
	SET @_KeyCd = @_KeyCd + ' AND (Nam = ' + STR(YEAR(@Ngay_Ct)) + ')'

	--Lay ton dau nam
	SELECT  Ma_Kho, Ma_Vt, Tk, Ton_Dau, Gia, Gia_Nt, Du_Dau, Du_Dau_Nt, Ton_Dau_Bo, Ton_Dau_Cay_Le, Ton_Dau_Cay, CAST(0 AS MONEY) AS Num_Bars,
			CAST('' AS VARCHAR(20)) AS Stt, CAST('' AS INT) AS Stt0,
			cast('' as varchar(30)) as Stt_Stt0,
			CAST(0 AS BIT) AS Auto_Cost
		INTO #T_TonCuoiList0
		FROM R80SDV
		WHERE 0 = 1
	EXEC sp_DefaultTable '#T_TonCuoiList0'
	EXEC sp_Copy_Data 'R80SDV', '#T_TonCuoiList0', '', @_KeyCd
	UPDATE #T_TonCuoiList0 SET STT = ''

	UPDATE #T_TonCuoiList0 SET Num_Bars = T2.Num_Bars
			FROM #T_TonCuoiList0 T1 JOIN (SELECT Ma_Vt, Num_Bars FROM R81DMVT) T2 ON T1.Ma_Vt = T2.Ma_Vt
	--Lay so phat sinh tu dau nam den thoi diem hien tai
	IF (@_Ngay_Ct2 > @_Ngay_Ct1)
	BEGIN
		SELECT Loai_Ct, Stt, Stt0, Auto_Cost, Ma_Kho, Ma_Vt, Tk, So_Luong, Gia, Gia_Nt, Tien, Tien_Nt, 
					So_Luong_Bo, So_Luong_Cay_Le, CAST(0 AS MONEY) AS Tong_So_Cay, CAST(0 AS MONEY) AS Num_Bars,
					cast('' as varchar(30)) as Stt_Stt0
			INTO #T_TonCuoiList1
			FROM vw_TheKho
			WHERE 0 = 1
		
		EXEC sp_DefaultTable '#T_TonCuoiList1'
		
		EXEC sp_ScanTableTheKho @_Ngay_Ct1, @_Ngay_Ct2, @_Key, '#T_TonCuoiList1', @Ma_DvCs
		
		UPDATE #T_TonCuoiList1 SET Num_Bars = T2.Num_Bars
			FROM #T_TonCuoiList1 T1 JOIN (SELECT Ma_Vt, Num_Bars FROM R81DMVT) T2 ON T1.Ma_Vt = T2.Ma_Vt
		
		UPDATE #T_TonCuoiList1 SET Tong_So_Cay = CASE WHEN Ma_Vt LIKE 'BD%' THEN ((So_Luong_Bo * Num_Bars) + So_Luong_Cay_Le) ELSE So_Luong_Bo END
			WHERE Ma_Kho LIKE '04TP' OR Ma_Kho LIKE '051%' OR Ma_Kho LIKE '052%' OR Ma_Kho LIKE '055%'
		
		UPDATE #T_TonCuoiList1 SET sTT = '', Stt0 = 0 WHERE Loai_Ct LIKE '1%'
		
		UPDATE #T_TonCuoiList1 SET
				So_Luong = -So_Luong,
				Tien	 = -Tien,
				Tien_Nt	 = -Tien_Nt,
				So_Luong_Bo = - So_Luong_Bo, 
				So_Luong_Cay_Le = - So_Luong_Cay_Le,
				Tong_So_Cay = - Tong_So_Cay
			WHERE Loai_Ct LIKE '2%'
		
		INSERT INTO #T_TonCuoiList0 (Stt, Stt0, Auto_Cost, Ma_Kho, Ma_Vt, Tk, Ton_Dau, Gia, Gia_Nt, Du_Dau, Du_Dau_Nt, Ton_Dau_Bo, Ton_Dau_Cay_Le, Ton_Dau_Cay, Num_Bars)
			SELECT Stt, Stt0, Auto_Cost, Ma_Kho, Ma_Vt, Tk, So_Luong, Gia, Gia_Nt, Tien, Tien_Nt, ISNULL(So_Luong_Bo,0), ISNULL(So_Luong_Cay_Le,0), Tong_So_Cay, Num_Bars FROM #T_TonCuoiList1
		
		update #T_TonCuoiList0 set Stt_Stt0 = Stt + replace(str(stt0,5),' ','')
			WHERE Stt <> '' and Auto_Cost = 1
		
		--select * from #T_TonCuoiList0 where Stt + replace(str(stt0,5),' ','') = 'A01V017202602750'
	END
		
	SELECT Ma_Kho, Ma_Vt, Tk, MAX(Stt_Stt0) AS Stt_Stt0,
			SUM(Ton_Dau)   AS Ton_Cuoi, 
			AVG(Gia)		AS Gia, 
			AVG(Gia_Nt)		AS Gia_Nt,
			SUM(Du_Dau)		AS Du_Cuoi,
			SUM(Du_Dau_Nt)	AS Du_Cuoi_Nt,
			CAST(0 AS MONEY) AS Ton_Cuoi_Bo, 
			CAST(0 AS MONEY) AS Ton_Cuoi_Cay_Le,
			SUM(Ton_Dau_Cay) AS Ton_Cuoi_Cay,
			MAX(Num_Bars) AS Num_Bars
		INTO #T_TonCuoiListSum
		FROM #T_TonCuoiList0		
		GROUP BY Ma_Kho, Ma_Vt, Tk
	
	UPDATE #T_TonCuoiListSum SET Ton_Cuoi_Bo = (CAST(Ton_Cuoi_Cay AS INT))/CAST(Num_Bars AS INT),
						Ton_Cuoi_Cay_Le = (CAST(Ton_Cuoi_Cay AS INT)) - (CAST(Num_Bars AS INT) * (CAST(Ton_Cuoi_Cay AS INT)/CAST(Num_Bars AS INT)))
						WHERE Ma_Vt LIKE 'BD%' AND Num_Bars <> 0 AND (Ma_Kho LIKE '04TP' OR Ma_Kho LIKE '051%' OR Ma_Kho LIKE '052%' OR Ma_Kho LIKE '055%')

	DELETE #T_TonCuoiListSum
		WHERE ABS(Ton_Cuoi) + ABS(Du_Cuoi) + ABS(Du_Cuoi_Nt) = 0

	UPDATE #T_TonCuoiListSum SET 
			Gia = CASE Ton_Cuoi WHEN 0 THEN 0 ELSE Du_Cuoi/Ton_Cuoi END,
			Gia_Nt = CASE Ton_Cuoi WHEN 0 THEN 0 ELSE Du_Cuoi_Nt/Ton_Cuoi END
	
	IF (@Table_Out <> '')
		EXEC sp_Copy_Data '#T_TonCuoiListSum', @Table_Out, '', ''

	DROP TABLE #T_TonCuoiList0

RETURN


go


--drop table #T_T2
--SELECT Ma_Kho, Ma_Vt, Ton_Dau as Ton_cuoi, Du_Dau AS Du_Cuoi,
--					CAST('' AS VARCHAR(30)) AS Stt_Stt0
--		INTO #T_T2
--		FROM R80SDV
--		WHERE 0 = 1
--	DELETE FROM #T_T2
--	--EXEC sp_DefaultTable '#T_T1'
	
--	--LẤY TỒN cuối THÁNG
--	EXEC sp_TonCuoiList_GiaBQTT '20260531', 'ma_kho = ''016pt''', '#T_T2', 'A01'

--	SELECT * FROM #T_T2