
/****** Object:  StoredProcedure [dbo].[Sp_ImportTVP_KhongChamCong]    Script Date: 05/26/2015 00:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

DROP PROCEDURE sp_ImportTVP_XuLyPhoi
EXEC sp_CreateTVPStructure 'R05CTNXPHOI', 'TVP_XuLyPhoi', 1

*/

CREATE PROCEDURE [dbo].[Sp_Import_Phoi_Kt]
(
	
	
	@Ma_DvCs VARCHAR(3)
)
--WITH ENCRYPTION
AS
BEGIN
	
	

END
