USE [R50THEPMN3]
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetTonCuoi_KKho]    Script Date: 05/16/2016 07:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- SET DATEFORMAT DMY
-- Sp_GetTonCuoi_KKho '16/05/2016', '40000053001'

ALTER PROCEDURE [dbo].[Sp_GetTonCuoi_KKho] 
(
	@Ngay_Ct DATETIME = '',
	@Ma_Vt VARCHAR(20) = '',
	@Stt VARCHAR(15) = '',
	@Ma_DvCs VARCHAR(5) = 'A01'
)
--WITH ENCRYPTION
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @_Chuoi AS VARCHAR(100) = ' ', 
			@_Ma_Kho VARCHAR(20), 
			@_Ton AS MONEY,		
			@_Ton_Cuoi AS MONEY,		
			@_Dien_Giai NVARCHAR(1000),
			@_Ten_Vt NVARCHAR(100),
			@_Dvt NVARCHAR(20),
			@_Ma_Kho_List VARCHAR(50) = 'KCT,KPH,KPH2,KTH',
			@_Key VARCHAR(1000)

	SELECT	@_Ten_Vt = ISNULL((SELECT Ten_Vt FROM R81DMVT WHERE Ma_Vt = @Ma_Vt), ''),
			@_Dvt = ISNULL((SELECT Dvt FROM R81DMVT WHERE Ma_Vt = @Ma_Vt), ''),
			@_Key = '0 = 0 AND (Ma_Kho LIKE ''' + REPLACE(@_Ma_Kho_List, ',', '%'' OR Ma_Kho LIKE ''') + '%'') AND Ma_Vt = ''' + @Ma_Vt + ''''
			
	SELECT Ma_Vt, Ma_Kho, Ton_Dau AS Ton_Cuoi INTO #T_TonCuoiKt FROM R80SDV WHERE 0 = 1
	SELECT Ma_Vt, Ma_Kho, Ton_Dau AS Ton_Cuoi INTO #T_TonCuoi FROM R80SDVPT WHERE 0 = 1


	EXEC sp_TonCuoiList_Pt @Ngay_Ct,@_Key,'#T_TonCuoi',@Ma_DvCs
	EXEC sp_TonCuoiList @Ngay_Ct, @_Key,'#T_TonCuoiKt',@Ma_DvCs

	INSERT INTO #T_TonCuoi(Ma_Vt, Ma_Kho, Ton_Cuoi)
	SELECT Ma_Vt, Ma_Kho, Ton_Cuoi FROM #T_TonCuoiKt

	SELECT Ma_Vt, Ma_Kho, SUM(Ton_Cuoi) AS Ton_Cuoi, ROW_NUMBER() OVER(ORDER BY Ma_Kho) AS Stt 
		INTO #T_TAM FROM #T_TonCuoi
		GROUP BY Ma_Vt, Ma_Kho

	DECLARE @_i AS INT = 1, @_j AS INT = (SELECT MAX(Stt) FROM #T_TAM) 
		
	WHILE @_i <= @_j
	BEGIN
		SELECT @_Ma_Kho = (SELECT Ma_kho FROM #T_TAM WHERE Stt = @_i)
		SELECT @_Ton = (SELECT Ton_Cuoi FROM #T_TAM WHERE Stt = @_i)
		SELECT @_Chuoi = @_Chuoi + '(' + @_Ma_Kho +')'+':'+ REPLACE(CONVERT(CHAR(8),@_Ton, 1),' ','') +';'
		SET @_i = @_i +1
	END
	SELECT  @_Ton_Cuoi = (SELECT ISNULL(SUM(Ton_Cuoi),0) FROM #T_TAM)
	SELECT	@Ma_Vt AS Ma_Vt,
			@_Dvt AS Dvt,
			@_Ten_Vt + ' ' + @_Chuoi AS Dien_Giai,
			@_Ton_Cuoi  AS Ton_Cuoi

END
