USE [R50THEPMN3]
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateTonCuoi_KKho]    Script Date: 05/17/2016 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*SET DATEFORMAT DMY
Sp_UpdateTonCuoi_KKho '18/03/2015', '86014004'

DROP PROCEDURE Sp_UpdateTonCuoi_KKho
EXEC sp_CreateTVPStructure 'R04CTPO', 'TVP_TON_KHO', 1

Sp_UpdateTonCuoi_KKho '20160511'
*/
ALTER PROCEDURE [dbo].[Sp_UpdateTonCuoi_KKho] 
(
	@Ngay_Ct DATETIME = '',
	@Stt VARCHAR(15) = 'A01040000084846',
	@Ma_Ct VARCHAR(5) = 'DNX',
	@Ma_DvCs VARCHAR(5) = 'A01'
)
--WITH ENCRYPTION
AS
BEGIN
	DECLARE @_Ma_Kho_List VARCHAR(100) = 'KCT,KPH,KPH2,KTH',
			@_Key VARCHAR(1000),
			@_SQLExec VARCHAR(MAX),
			@_Ma_Vt_List VARCHAR(1000) = '',
			@_Ma_Vt VARCHAR(20),
			@_i INT = 1,
			@_j INT
	
	SELECT DISTINCT Ma_Vt, ROW_NUMBER() OVER(ORDER BY Ma_Vt) AS Stt INTO #T_Ma_Vt FROM R04CTPO WHERE Stt = @Stt		
	SET @_j = (SELECT MAX(Stt) FROM #T_Ma_Vt)
	
	WHILE @_i <= @_j
		BEGIN
			SET @_Ma_Vt_List = @_Ma_Vt_List + ',' + (SELECT Ma_Vt FROM #T_Ma_Vt WHERE Stt = @_i)
			
			SET @_i = @_i + 1
		END
	SELECT @_Ma_Vt_List = SUBSTRING(@_Ma_Vt_List,2,LEN(@_Ma_Vt_List))
	SET @_Key = '0 = 0 AND (Ma_Kho LIKE ''' + REPLACE(@_Ma_Kho_List, ',', '%'' OR Ma_Kho LIKE ''') + '%'') AND (Ma_Vt LIKE ''' + REPLACE(@_Ma_Vt_List, ',', '%'' OR Ma_Vt LIKE ''') + '%'')'
	
	SELECT Ma_Kho, Ma_Vt, Ton_Dau AS Ton_Cuoi
		INTO #T_TonCuoi
		FROM R80SDV
		WHERE 0 = 1
	
	SELECT Ma_Kho, Ma_Vt, Ton_Dau AS Ton_Cuoi
		INTO #T_TonCuoiKt
		FROM R80SDV
		WHERE 0 = 1	
		
	EXEC sp_TonCuoiList_Pt @Ngay_Ct, @_Key, '#T_TonCuoi', @Ma_DvCs
	EXEC sp_TonCuoiList @Ngay_Ct, @_Key,'#T_TonCuoiKt',@Ma_DvCs
	
	SET @_Key = ' AND (T1.Ma_Vt LIKE ''' + REPLACE(@_Ma_Vt_List, ',', '%'' OR T1.Ma_Vt LIKE ''') + '%'')'
	
	INSERT INTO #T_TonCuoi(Ma_Vt, Ma_Kho, Ton_Cuoi) 
		EXEC ('SELECT T2.Ma_Vt, ''TAM'', T2.So_Luong FROM (SELECT Stt, Stt0, Ma_Vt, So_Luong FROM R04CTPO WHERE Ma_Ct LIKE ''DT%'') T1 JOIN  (SELECT Stt_Org, Stt0_Org, Ma_Vt, So_Luong FROM R04CTPO WHERE Ma_Ct LIKE ''BB%'') T2 ON T1.Stt = T2.Stt_Org AND T1.Stt0 = T2.Stt0_Org AND T1.Ma_Vt = T2.Ma_Vt
		LEFT JOIN (SELECT Stt_Org, Stt0_Org, Ma_Vt, So_Luong FROM R02CTNM WHERE Stt_Org <> '''') T3 ON T1.Stt = T3.Stt_Org AND T1.Stt0 = T3.Stt0_Org AND T1.Ma_Vt = T3.Ma_Vt
		WHERE T3.Ma_Vt IS NULL' + @_Key )
	
	INSERT INTO #T_TonCuoi(Ma_Vt, Ma_Kho, Ton_Cuoi)
		EXEC('SELECT T1.Ma_Vt, ''TAM'', - T1.So_Luong FROM (SELECT Stt, Stt0, Ma_Vt, So_Luong FROM R04CTPO  WITH (NOLOCK) WHERE Ma_Ct LIKE ''DNX%'') T1 JOIN R80PH T2  WITH (NOLOCK) ON T1.Stt = T2.Stt
		 LEFT JOIN (SELECT Stt_Org FROM R05CTNX  WITH (NOLOCK) WHERE Ma_Ct LIKE ''PX%'') T3 ON T1.Stt = T3.Stt_Org
		 LEFT JOIN (SELECT Stt_Org FROM R05CTNXPT  WITH (NOLOCK) WHERE Ma_Ct LIKE ''PX%'') T4 ON T1.Stt = T4.Stt_Org	
		WHERE t2.Duyet_KHVT = 1 AND T3.Stt_Org IS NULL AND T4.Stt_Org IS NULL AND T2.Stt <> ''' + @Stt + ''' AND T2.Ngay_Ct <= '''+ @Ngay_Ct +'''' + @_Key)
	
	
	INSERT INTO #T_TonCuoi(Ma_Vt, Ma_Kho, Ton_Cuoi)
	SELECT Ma_Vt, Ma_Kho, Ton_Cuoi FROM #T_TonCuoiKt
	
	SELECT Ma_Vt, SUM(Ton_Cuoi) AS Ton_Cuoi INTO #T_TonCuoi1 FROM #T_TonCuoi GROUP BY Ma_Vt
	
	UPDATE R04CTPO SET So_Luong_TonKho = T2.Ton_Cuoi
		FROM R04CTPO T1 JOIN #T_TonCuoi1 T2 WITH (NOLOCK) ON T1.Ma_Vt = T2.Ma_Vt
		WHERE Stt = @Stt 

END
